#Imtihon

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("corporate_stress_dataset.csv")

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_46713/1016188557.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("corporate_stress_dataset.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          49999 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                49999 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      49999 non-null  float64
 11  Health_Issues                     37459 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         49999 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               49999 non-null  float64
 19  Annual_Leaves_Taken               49999 non-null  float64
 20  Work_Life_Balance                 49998 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                49999 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

In [4]:
df.isnull().sum()

ID                                      0
Age                                     0
Gender                                  0
Marital_Status                          0
Job_Role                                1
Experience_Years                        0
Monthly_Salary_INR                      0
Working_Hours_per_Week                  0
Commute_Time_Hours                      1
Remote_Work                             0
Stress_Level                            1
Health_Issues                       12541
Company_Size                            0
Department                              0
Sleep_Hours                             0
Physical_Activity_Hours_per_Week        0
Mental_Health_Leave_Taken               1
Manager_Support_Level                   0
Work_Pressure_Level                     1
Annual_Leaves_Taken                     1
Work_Life_Balance                       2
Family_Support_Level                    0
Job_Satisfaction                        0
Performance_Rating                      1
Team_Size                               0
Training_Opportunities                  0
Gender_Bias_Experienced                 0
Discrimination_Experienced              0
Burnout_Symptoms                        0
Location                                0
dtype: int64

In [4]:
#drop category 'Health Issues

df.drop("Health_Issues", axis=1, inplace=True)

In [5]:
df.isnull().sum()

ID                                  0
Age                                 0
Gender                              0
Marital_Status                      0
Job_Role                            1
Experience_Years                    0
Monthly_Salary_INR                  0
Working_Hours_per_Week              0
Commute_Time_Hours                  1
Remote_Work                         0
Stress_Level                        1
Company_Size                        0
Department                          0
Sleep_Hours                         0
Physical_Activity_Hours_per_Week    0
Mental_Health_Leave_Taken           1
Manager_Support_Level               0
Work_Pressure_Level                 1
Annual_Leaves_Taken                 1
Work_Life_Balance                   2
Family_Support_Level                0
Job_Satisfaction                    0
Performance_Rating                  1
Team_Size                           0
Training_Opportunities              0
Gender_Bias_Experienced             0
Discrimination_Experienced          0
Burnout_Symptoms                    0
Location                            0
dtype: int64

In [ ]:
#mean category 'Work_Life_Balance'

df["Work_Life_Balance"].fillna(df["Work_Life_Balance"].mean(), inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_46713/2003681693.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Work_Life_Balance"].fillna(df["Work_Life_Balance"].mean(), inplace=True)

In [7]:
df.isnull().sum()

ID                                  0
Age                                 0
Gender                              0
Marital_Status                      0
Job_Role                            1
Experience_Years                    0
Monthly_Salary_INR                  0
Working_Hours_per_Week              0
Commute_Time_Hours                  1
Remote_Work                         0
Stress_Level                        1
Company_Size                        0
Department                          0
Sleep_Hours                         0
Physical_Activity_Hours_per_Week    0
Mental_Health_Leave_Taken           1
Manager_Support_Level               0
Work_Pressure_Level                 1
Annual_Leaves_Taken                 1
Work_Life_Balance                   0
Family_Support_Level                0
Job_Satisfaction                    0
Performance_Rating                  1
Team_Size                           0
Training_Opportunities              0
Gender_Bias_Experienced             0
Discrimination_Experienced          0
Burnout_Symptoms                    0
Location                            0
dtype: int64

In [ ]:
#mode category 'Stress_Level

df["Stress_Level"].fillna(df["Stress_Level"].mode()[0], inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_46713/996731672.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Stress_Level"].fillna(df["Stress_Level"].mode()[0], inplace=True)

In [9]:
df.isnull().sum()

ID                                  0
Age                                 0
Gender                              0
Marital_Status                      0
Job_Role                            1
Experience_Years                    0
Monthly_Salary_INR                  0
Working_Hours_per_Week              0
Commute_Time_Hours                  1
Remote_Work                         0
Stress_Level                        0
Company_Size                        0
Department                          0
Sleep_Hours                         0
Physical_Activity_Hours_per_Week    0
Mental_Health_Leave_Taken           1
Manager_Support_Level               0
Work_Pressure_Level                 1
Annual_Leaves_Taken                 1
Work_Life_Balance                   0
Family_Support_Level                0
Job_Satisfaction                    0
Performance_Rating                  1
Team_Size                           0
Training_Opportunities              0
Gender_Bias_Experienced             0
Discrimination_Experienced          0
Burnout_Symptoms                    0
Location                            0
dtype: int64

In [10]:
#mode datatype 'object'
#mode else datatypes

missing_col = df.columns[df.isnull().sum()>0]
for col in missing_col:
    if df[col].dtype=="object":
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_46713/2505922608.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_46713/2505922608.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [11]:
df.isnull().sum()

ID                                  0
Age                                 0
Gender                              0
Marital_Status                      0
Job_Role                            0
Experience_Years                    0
Monthly_Salary_INR                  0
Working_Hours_per_Week              0
Commute_Time_Hours                  0
Remote_Work                         0
Stress_Level                        0
Company_Size                        0
Department                          0
Sleep_Hours                         0
Physical_Activity_Hours_per_Week    0
Mental_Health_Leave_Taken           0
Manager_Support_Level               0
Work_Pressure_Level                 0
Annual_Leaves_Taken                 0
Work_Life_Balance                   0
Family_Support_Level                0
Job_Satisfaction                    0
Performance_Rating                  0
Team_Size                           0
Training_Opportunities              0
Gender_Bias_Experienced             0
Discrimination_Experienced          0
Burnout_Symptoms                    0
Location                            0
dtype: int64