Encoding

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Corporate Stress.csv')

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_13904/2349234669.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Corporate Stress.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          49999 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                49999 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      49999 non-null  float64
 11  Health_Issues                     37459 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         49999 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               49999 non-null  float64
 19  Annual_Leaves_Taken               49999 non-null  float64
 20  Work_Life_Balance                 49998 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                49999 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

MISSING VALUES

In [4]:
df.isnull().sum()

ID                                      0
Age                                     0
Gender                                  0
Marital_Status                          0
Job_Role                                1
Experience_Years                        0
Monthly_Salary_INR                      0
Working_Hours_per_Week                  0
Commute_Time_Hours                      1
Remote_Work                             0
Stress_Level                            1
Health_Issues                       12541
Company_Size                            0
Department                              0
Sleep_Hours                             0
Physical_Activity_Hours_per_Week        0
Mental_Health_Leave_Taken               1
Manager_Support_Level                   0
Work_Pressure_Level                     1
Annual_Leaves_Taken                     1
Work_Life_Balance                       2
Family_Support_Level                    0
Job_Satisfaction                        0
Performance_Rating                      1
Team_Size                               0
Training_Opportunities                  0
Gender_Bias_Experienced                 0
Discrimination_Experienced              0
Burnout_Symptoms                        0
Location                                0
dtype: int64

In [5]:
df = df.drop(columns=['Health_Issues'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          49999 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                49999 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      49999 non-null  float64
 11  Company_Size                      50000 non-null  object
 12  Department                        50000 non-null  object
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         49999 non-null  object
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               49999 non-null  float64
 18  Annual_Leaves_Taken               49999 non-null  float64
 19  Work_Life_Balance                 49998 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                49999 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  bool
 25  Gender_Bias_Experienced           50000 non-null  bool
 26  Discrimination_Experienced        50000 non-null  bool
 27  Burnout_Symptoms                  50000 non-null  object
 28  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(8)
memory usage: 9.7+ MB

In [6]:
missing_col=df.isnull().sum()>0
for col in df.columns[missing_col]:
    if df[col].dtype=='object':
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_13904/3569134084.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_13904/3569134084.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  object
 12  Department                        50000 non-null  object
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  object
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  bool
 25  Gender_Bias_Experienced           50000 non-null  bool
 26  Discrimination_Experienced        50000 non-null  bool
 27  Burnout_Symptoms                  50000 non-null  object
 28  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(8)
memory usage: 9.7+ MB

ENCODING

In [8]:
categorical_col=df.select_dtypes(include=['object', 'category']).columns.to_list()

In [9]:
cardinality=df[categorical_col].nunique()
cardinality

Gender                       3
Marital_Status               4
Job_Role                     6
Company_Size                 3
Department                   6
Mental_Health_Leave_Taken    6
Burnout_Symptoms             4
Location                     4
dtype: int64

In [10]:
high_cardinality_columns=[col for col, card in cardinality.items() if card > 10]
low_cardinality_columns=[col for col, card in cardinality.items() if card <= 10]

In [11]:
high_cardinality_columns

[]

In [12]:
low_cardinality_columns

['Gender',
 'Marital_Status',
 'Job_Role',
 'Company_Size',
 'Department',
 'Mental_Health_Leave_Taken',
 'Burnout_Symptoms',
 'Location']

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  object
 12  Department                        50000 non-null  object
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  object
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  bool
 25  Gender_Bias_Experienced           50000 non-null  bool
 26  Discrimination_Experienced        50000 non-null  bool
 27  Burnout_Symptoms                  50000 non-null  object
 28  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(8)
memory usage: 9.7+ MB

ONEHOTENCODING - OneHotEncoder

In [15]:
from sklearn.preprocessing import OneHotEncoder
one_hot=OneHotEncoder(sparse_output=False, drop='first')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  object
 12  Department                        50000 non-null  object
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  object
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  bool
 25  Gender_Bias_Experienced           50000 non-null  bool
 26  Discrimination_Experienced        50000 non-null  bool
 27  Burnout_Symptoms                  50000 non-null  object
 28  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(8)
memory usage: 9.7+ MB

In [17]:
df = df.astype({col: 'int' for col in df.select_dtypes(include=['bool']).columns})

In [18]:
df = df.astype({col: 'str' for col in df.select_dtypes(include=['object']).columns})

In [19]:
df_encoded=one_hot.fit_transform(df[categorical_col])

In [20]:
encoded_df = pd.DataFrame(df_encoded, columns=one_hot.get_feature_names_out(categorical_col))

In [21]:
df_encoded = df.drop(columns=categorical_col).reset_index(drop=True)
df_encoded = pd.concat([df_encoded, encoded_df], axis=1)

In [22]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 49 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Experience_Years                  50000 non-null  int64
 3   Monthly_Salary_INR                50000 non-null  float64
 4   Working_Hours_per_Week            50000 non-null  int64
 5   Commute_Time_Hours                50000 non-null  float64
 6   Remote_Work                       50000 non-null  int64
 7   Stress_Level                      50000 non-null  float64
 8   Sleep_Hours                       50000 non-null  float64
 9   Physical_Activity_Hours_per_Week  50000 non-null  float64
 10  Manager_Support_Level             50000 non-null  int64
 11  Work_Pressure_Level               50000 non-null  float64
 12  Annual_Leaves_Taken               50000 non-null  float64
 13  Work_Life_Balance                 50000 non-null  float64
 14  Family_Support_Level              50000 non-null  int64
 15  Job_Satisfaction                  50000 non-null  int64
 16  Performance_Rating                50000 non-null  float64
 17  Team_Size                         50000 non-null  int64
 18  Training_Opportunities            50000 non-null  int64
 19  Gender_Bias_Experienced           50000 non-null  int64
 20  Discrimination_Experienced        50000 non-null  int64
 21  Gender_Male                       50000 non-null  float64
 22  Gender_Non-Binary                 50000 non-null  float64
 23  Marital_Status_Married            50000 non-null  float64
 24  Marital_Status_Single             50000 non-null  float64
 25  Marital_Status_Widowed            50000 non-null  float64
 26  Job_Role_Developer                50000 non-null  float64
 27  Job_Role_HR                       50000 non-null  float64
 28  Job_Role_Manager                  50000 non-null  float64
 29  Job_Role_Sales                    50000 non-null  float64
 30  Job_Role_Support                  50000 non-null  float64
 31  Company_Size_Medium               50000 non-null  float64
 32  Company_Size_Small                50000 non-null  float64
 33  Department_Finance                50000 non-null  float64
 34  Department_HR                     50000 non-null  float64
 35  Department_IT                     50000 non-null  float64
 36  Department_Marketing              50000 non-null  float64
 37  Department_Sales                  50000 non-null  float64
 38  Mental_Health_Leave_Taken_1       50000 non-null  float64
 39  Mental_Health_Leave_Taken_FALSE   50000 non-null  float64
 40  Mental_Health_Leave_Taken_False   50000 non-null  float64
 41  Mental_Health_Leave_Taken_TRUE    50000 non-null  float64
 42  Mental_Health_Leave_Taken_True    50000 non-null  float64
 43  Burnout_Symptoms_No               50000 non-null  float64
 44  Burnout_Symptoms_Occasional       50000 non-null  float64
 45  Burnout_Symptoms_Yes              50000 non-null  float64
 46  Location_Tier-1                   50000 non-null  float64
 47  Location_Tier-2                   50000 non-null  float64
 48  Location_Tier-3                   50000 non-null  float64
dtypes: float64(37), int64(12)
memory usage: 18.7 MB

ONEHOTENCODING - get_dummies        #Restart+Cleaning

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  object
 12  Department                        50000 non-null  object
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  object
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  bool
 25  Gender_Bias_Experienced           50000 non-null  bool
 26  Discrimination_Experienced        50000 non-null  bool
 27  Burnout_Symptoms                  50000 non-null  object
 28  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(8)
memory usage: 9.7+ MB

In [15]:
df_one_hot = pd.get_dummies(df[categorical_col])

In [16]:
df = df.drop(columns=categorical_col).join(df_one_hot)

In [17]:
df = df.astype({col: 'int' for col in df.select_dtypes(include=['bool']).columns})

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 57 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Experience_Years                  50000 non-null  int64
 3   Monthly_Salary_INR                50000 non-null  float64
 4   Working_Hours_per_Week            50000 non-null  int64
 5   Commute_Time_Hours                50000 non-null  float64
 6   Remote_Work                       50000 non-null  int64
 7   Stress_Level                      50000 non-null  float64
 8   Sleep_Hours                       50000 non-null  float64
 9   Physical_Activity_Hours_per_Week  50000 non-null  float64
 10  Manager_Support_Level             50000 non-null  int64
 11  Work_Pressure_Level               50000 non-null  float64
 12  Annual_Leaves_Taken               50000 non-null  float64
 13  Work_Life_Balance                 50000 non-null  float64
 14  Family_Support_Level              50000 non-null  int64
 15  Job_Satisfaction                  50000 non-null  int64
 16  Performance_Rating                50000 non-null  float64
 17  Team_Size                         50000 non-null  int64
 18  Training_Opportunities            50000 non-null  int64
 19  Gender_Bias_Experienced           50000 non-null  int64
 20  Discrimination_Experienced        50000 non-null  int64
 21  Gender_Female                     50000 non-null  int64
 22  Gender_Male                       50000 non-null  int64
 23  Gender_Non-Binary                 50000 non-null  int64
 24  Marital_Status_Divorced           50000 non-null  int64
 25  Marital_Status_Married            50000 non-null  int64
 26  Marital_Status_Single             50000 non-null  int64
 27  Marital_Status_Widowed            50000 non-null  int64
 28  Job_Role_Analyst                  50000 non-null  int64
 29  Job_Role_Developer                50000 non-null  int64
 30  Job_Role_HR                       50000 non-null  int64
 31  Job_Role_Manager                  50000 non-null  int64
 32  Job_Role_Sales                    50000 non-null  int64
 33  Job_Role_Support                  50000 non-null  int64
 34  Company_Size_Large                50000 non-null  int64
 35  Company_Size_Medium               50000 non-null  int64
 36  Company_Size_Small                50000 non-null  int64
 37  Department_Admin                  50000 non-null  int64
 38  Department_Finance                50000 non-null  int64
 39  Department_HR                     50000 non-null  int64
 40  Department_IT                     50000 non-null  int64
 41  Department_Marketing              50000 non-null  int64
 42  Department_Sales                  50000 non-null  int64
 43  Mental_Health_Leave_Taken_False   50000 non-null  int64
 44  Mental_Health_Leave_Taken_True    50000 non-null  int64
 45  Mental_Health_Leave_Taken_0       50000 non-null  int64
 46  Mental_Health_Leave_Taken_1       50000 non-null  int64
 47  Mental_Health_Leave_Taken_FALSE   50000 non-null  int64
 48  Mental_Health_Leave_Taken_TRUE    50000 non-null  int64
 49  Burnout_Symptoms_3                50000 non-null  int64
 50  Burnout_Symptoms_No               50000 non-null  int64
 51  Burnout_Symptoms_Occasional       50000 non-null  int64
 52  Burnout_Symptoms_Yes              50000 non-null  int64
 53  Location_Metro                    50000 non-null  int64
 54  Location_Tier-1                   50000 non-null  int64
 55  Location_Tier-2                   50000 non-null  int64
 56  Location_Tier-3                   50000 non-null  int64
dtypes: float64(9), int64(48)
memory usage: 21.7 MB

LABEL ENCODING      #Restart+Cleaning

In [14]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  object
 12  Department                        50000 non-null  object
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  object
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  bool
 25  Gender_Bias_Experienced           50000 non-null  bool
 26  Discrimination_Experienced        50000 non-null  bool
 27  Burnout_Symptoms                  50000 non-null  object
 28  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(8)
memory usage: 9.7+ MB

In [16]:
df = df.astype({col: 'int' for col in df.select_dtypes(include=['bool']).columns})

In [17]:
mixed_columns = []
for col in df.columns:
    unique_types = df[col].apply(type).unique()
    if len(unique_types) > 1:
        mixed_columns.append((col, unique_types))

mixed_columns

[('Mental_Health_Leave_Taken',
  array([<class 'str'>, <class 'bool'>], dtype=object))]

In [18]:
df['Mental_Health_Leave_Taken']=pd.to_numeric(df['Mental_Health_Leave_Taken'], errors='coerce')

In [19]:
df[categorical_col]=df[categorical_col].apply(label_encoder.fit_transform)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  int64
 3   Marital_Status                    50000 non-null  int64
 4   Job_Role                          50000 non-null  int64
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  int64
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  int64
 12  Department                        50000 non-null  int64
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  int64
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  int64
 25  Gender_Bias_Experienced           50000 non-null  int64
 26  Discrimination_Experienced        50000 non-null  int64
 27  Burnout_Symptoms                  50000 non-null  int64
 28  Location                          50000 non-null  int64
dtypes: float64(9), int64(20)
memory usage: 11.1 MB

FREQUENCE ENCODING        #Restart+Cleaning

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  object
 12  Department                        50000 non-null  object
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  object
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  bool
 25  Gender_Bias_Experienced           50000 non-null  bool
 26  Discrimination_Experienced        50000 non-null  bool
 27  Burnout_Symptoms                  50000 non-null  object
 28  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(8)
memory usage: 9.7+ MB

In [15]:
df = df.astype({col: 'int' for col in df.select_dtypes(include=['bool']).columns})

In [16]:
df[categorical_col]=df[categorical_col].apply(lambda col: col.map(col.value_counts()))

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  int64
 3   Marital_Status                    50000 non-null  int64
 4   Job_Role                          50000 non-null  int64
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  int64
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  int64
 12  Department                        50000 non-null  int64
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  int64
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  int64
 25  Gender_Bias_Experienced           50000 non-null  int64
 26  Discrimination_Experienced        50000 non-null  int64
 27  Burnout_Symptoms                  50000 non-null  int64
 28  Location                          50000 non-null  int64
dtypes: float64(9), int64(20)
memory usage: 11.1 MB

TARGET ENCODING         #Restart+Cleaning

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  object
 12  Department                        50000 non-null  object
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  object
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  bool
 25  Gender_Bias_Experienced           50000 non-null  bool
 26  Discrimination_Experienced        50000 non-null  bool
 27  Burnout_Symptoms                  50000 non-null  object
 28  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(8)
memory usage: 9.7+ MB

In [15]:
import pandas as pd
import category_encoders as ce

In [16]:
categorical_col

['Gender',
 'Marital_Status',
 'Job_Role',
 'Company_Size',
 'Department',
 'Mental_Health_Leave_Taken',
 'Burnout_Symptoms',
 'Location']

In [17]:
df['Gender'].value_counts()

Gender
Female        16769
Male          16718
Non-Binary    16513
Name: count, dtype: int64

In [19]:
df['Gender']=df['Gender'].map({'Female':2,'Male':1, 'Non-Binary':0})

In [20]:
df[categorical_col]=df[categorical_col].apply(lambda col: col.map(df.groupby(col)['Gender'].mean()))

In [22]:
df = df.astype({col: 'int' for col in df.select_dtypes(include=['bool']).columns})

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  float64
 3   Marital_Status                    50000 non-null  float64
 4   Job_Role                          50000 non-null  float64
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  int64
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  float64
 12  Department                        50000 non-null  float64
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  float64
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  int64
 25  Gender_Bias_Experienced           50000 non-null  int64
 26  Discrimination_Experienced        50000 non-null  int64
 27  Burnout_Symptoms                  50000 non-null  float64
 28  Location                          50000 non-null  float64
dtypes: float64(17), int64(12)
memory usage: 11.1 MB