Encoding

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Carseats.csv')

In [3]:
df.head(1)

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.5,138,73,11,276,120,Bad,42,17,Yes,Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    object
 6   ShelveLoc    399 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           397 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 34.5+ KB

Missing values

In [5]:
df.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      1
Age            0
Education      0
Urban          0
US             3
dtype: int64

In [6]:
#Data tozalash
#muammoli ustunni va elementni aniqlash
df["Price"].unique()

array(['120', '83', '80', '97', '128', '72', '108', '124', '100', '94',
       '136', '86', '118', '144', '110', '131', '68', 'Medium', '109',
       '138', 'Bad', '82', '107', '102', '89', '137', '96', '126', '24',
       '134', '95', '135', '70', '98', '149', '129', '119', '154', '84',
       '117', '103', '114', '123', '133', '101', '104', '91', '115', '99',
       '150', '116', '92', '145', '90', '79', '139', '121', '112', '111',
       '125', '148', '132', '127', '106', '151', '87', '155', '49', '147',
       '77', '159', '69', '157', '160', '141', '191', '93', '55', '185',
       '122', '81', '140', '173', '146', '130', '64', '105', '163', '88',
       '156', '166', '63', '158', '113', '74', '54', '171', '152', '143',
       '164', '162', '53', '78'], dtype=object)

In [7]:
len(df["Price"].unique())

103

In [8]:
len(df["Price"])

400

In [3]:
df["Price"]=pd.to_numeric(df["Price"], errors="coerce")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        398 non-null    float64
 6   ShelveLoc    399 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           397 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 34.5+ KB

In [4]:
df['Price'].fillna(df['Price'].mean(), inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_67109/3868442878.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(df['Price'].mean(), inplace=True)

In [5]:
df['ShelveLoc'].fillna(df['ShelveLoc'].mode()[0], inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_67109/1957761040.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ShelveLoc'].fillna(df['ShelveLoc'].mode()[0], inplace=True)

In [6]:
df['US'].fillna(df['US'].mode()[0], inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_67109/4121599711.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['US'].fillna(df['US'].mode()[0], inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 34.5+ KB

Encoding

In [7]:
categorical_col=df.select_dtypes(include=['object', 'category']).columns

In [15]:
categorical_col

Index(['ShelveLoc', 'Education', 'Urban', 'US'], dtype='object')

In [8]:
numerical_col=df.select_dtypes(include=['int64', 'float64']).columns

In [17]:
numerical_col

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'Age'],
      dtype='object')

In [19]:
#one-hot encoding

In [20]:
df=pd.get_dummies(df, columns=categorical_col, drop_first=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sales             400 non-null    float64
 1   CompPrice         400 non-null    int64
 2   Income            400 non-null    int64
 3   Advertising       400 non-null    int64
 4   Population        400 non-null    int64
 5   Price             400 non-null    float64
 6   Age               400 non-null    int64
 7   ShelveLoc_69      400 non-null    bool
 8   ShelveLoc_Bad     400 non-null    bool
 9   ShelveLoc_Good    400 non-null    bool
 10  ShelveLoc_Medium  400 non-null    bool
 11  Education_11      400 non-null    bool
 12  Education_12      400 non-null    bool
 13  Education_13      400 non-null    bool
 14  Education_14      400 non-null    bool
 15  Education_15      400 non-null    bool
 16  Education_16      400 non-null    bool
 17  Education_17      400 non-null    bool
 18  Education_18      400 non-null    bool
 19  Education_Yes     400 non-null    bool
 20  Urban_Yes         400 non-null    bool
 21  US_Yes            400 non-null    bool
dtypes: bool(15), float64(2), int64(5)
memory usage: 27.9 KB

In [24]:
df=df.astype(int)

ValueError: invalid literal for int() with base 10: 'Bad'

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sales             400 non-null    int64
 1   CompPrice         400 non-null    int64
 2   Income            400 non-null    int64
 3   Advertising       400 non-null    int64
 4   Population        400 non-null    int64
 5   Price             400 non-null    int64
 6   Age               400 non-null    int64
 7   ShelveLoc_69      400 non-null    int64
 8   ShelveLoc_Bad     400 non-null    int64
 9   ShelveLoc_Good    400 non-null    int64
 10  ShelveLoc_Medium  400 non-null    int64
 11  Education_11      400 non-null    int64
 12  Education_12      400 non-null    int64
 13  Education_13      400 non-null    int64
 14  Education_14      400 non-null    int64
 15  Education_15      400 non-null    int64
 16  Education_16      400 non-null    int64
 17  Education_17      400 non-null    int64
 18  Education_18      400 non-null    int64
 19  Education_Yes     400 non-null    int64
 20  Urban_Yes         400 non-null    int64
 21  US_Yes            400 non-null    int64
dtypes: int64(22)
memory usage: 68.9 KB

In [24]:
#one-hot encoder

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 34.5+ KB

In [16]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
one_hot=OneHotEncoder(sparse_output=False, drop="first") #one_hot o'zgaruvchi belgiladik

In [18]:
df_encoded=one_hot.fit_transform(df[categorical_col]) #transfer

In [20]:
df_encoded

array([[0., 1., 0., ..., 0., 1., 1.],
       [0., 0., 1., ..., 0., 1., 1.],
       [0., 0., 0., ..., 0., 1., 1.],
       ...,
       [0., 0., 0., ..., 0., 1., 1.],
       [0., 1., 0., ..., 0., 1., 1.],
       [0., 0., 1., ..., 0., 1., 1.]])

In [19]:
encoded_col=one_hot.get_feature_names_out(categorical_col) #ustunga nom berildi

In [21]:
encoded_col

array(['ShelveLoc_69', 'ShelveLoc_Bad', 'ShelveLoc_Good',
       'ShelveLoc_Medium', 'Education_11', 'Education_12', 'Education_13',
       'Education_14', 'Education_15', 'Education_16', 'Education_17',
       'Education_18', 'Education_Yes', 'Urban_Yes', 'US_Yes'],
      dtype=object)

In [27]:
df_encoded = pd.DataFrame(df_encoded)
df=pd.concat([df.drop(columns=categorical_col), df_encoded], axis=1)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   Age          400 non-null    int64
 7   0            400 non-null    float64
 8   1            400 non-null    float64
 9   2            400 non-null    float64
 10  3            400 non-null    float64
 11  4            400 non-null    float64
 12  5            400 non-null    float64
 13  6            400 non-null    float64
 14  7            400 non-null    float64
 15  8            400 non-null    float64
 16  9            400 non-null    float64
 17  10           400 non-null    float64
 18  11           400 non-null    float64
 19  12           400 non-null    float64
 20  13           400 non-null    float64
 21  14           400 non-null    float64
dtypes: float64(17), int64(5)
memory usage: 68.9 KB

Label encoding

In [22]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder

In [43]:
df[categorical_col]=df[categorical_col].apply(encoder.fit_transform)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 34.5+ KB

# frequence encoding

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 34.5+ KB

In [21]:
df['US'].value_counts()

US
259    259
141    141
Name: count, dtype: int64

In [19]:
df[categorical_col]=df[categorical_col].apply(lambda col: col.map(col.value_counts()))

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    int64
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    int64
 10  US           400 non-null    int64
dtypes: float64(2), int64(9)
memory usage: 34.5 KB

target encoding

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 34.5+ KB

In [10]:
categorical_col

Index(['ShelveLoc', 'Education', 'Urban', 'US'], dtype='object')

In [13]:
df['US'].value_counts()

US
Yes    259
No     141
Name: count, dtype: int64

In [15]:
#Mapping

df['US']=df['US'].map({'Yes':1, 'No':0})

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    float64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    object
 9   Urban        400 non-null    object
 10  US           400 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 34.5+ KB

In [17]:
df[categorical_col]=df[categorical_col].apply(lambda col: col.map(df.groupby(col)['US'].mean()))

Uyga vazifa

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("Corporate Stress.csv")

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_68910/719080065.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Corporate Stress.csv")

In [ ]:
df.head(1)

,ID,Age,Gender,Marital_Status,Job_Role,Experience_Years,Monthly_Salary_INR,Working_Hours_per_Week,Commute_Time_Hours,Remote_Work,...,Work_Life_Balance,Family_Support_Level,Job_Satisfaction,Performance_Rating,Team_Size,Training_Opportunities,Gender_Bias_Experienced,Discrimination_Experienced,Burnout_Symptoms,Location
0,1,56,Non-Binary,Widowed,Developer,5,102703.08,44,1.72,True,...,9.0,2,5,10.0,38,False,True,True,No,Tier-3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          49999 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                49999 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      49999 non-null  float64
 11  Health_Issues                     37459 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         49999 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               49999 non-null  float64
 19  Annual_Leaves_Taken               49999 non-null  float64
 20  Work_Life_Balance                 49998 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                49999 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

In [ ]:
len(df["Gender"].unique())

3

In [ ]:
#mean "Commute_Time_Hours"
df["Commute_Time_Hours"].fillna(df["Commute_Time_Hours"].mean(), inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_68910/672693942.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Commute_Time_Hours"].fillna(df["Commute_Time_Hours"].mean(), inplace=True)

In [ ]:
#mean "Stress_Level"
df["Stress_Level"].fillna(df["Stress_Level"].mean(), inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_68910/3333794675.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Stress_Level"].fillna(df["Stress_Level"].mean(), inplace=True)

In [ ]:
#mean "Work_Pressure_Level"
df["Work_Pressure_Level"].fillna(df["Work_Pressure_Level"].mean(), inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_68910/306491075.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Work_Pressure_Level"].fillna(df["Work_Pressure_Level"].mean(), inplace=True)

In [ ]:
#mean "Work_Pressure_Level"
df["Annual_Leaves_Taken"].fillna(df["Annual_Leaves_Taken"].mean(), inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_68910/350327904.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Annual_Leaves_Taken"].fillna(df["Annual_Leaves_Taken"].mean(), inplace=True)

In [ ]:
#mean "Work_Life_Balance"
df["Work_Life_Balance"].fillna(df["Work_Life_Balance"].mean(), inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_68910/2606521566.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Work_Life_Balance"].fillna(df["Work_Life_Balance"].mean(), inplace=True)

In [ ]:
#mean "Performance_Rating"
df["Performance_Rating"].fillna(df["Performance_Rating"].mean(), inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_68910/1086279992.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Performance_Rating"].fillna(df["Performance_Rating"].mean(), inplace=True)

In [ ]:
#mode "Job_Role"
df["Job_Role"].fillna(df["Job_Role"].mode()[0], inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_68910/2983002873.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Job_Role"].fillna(df["Job_Role"].mode()[0], inplace=True)

In [ ]:
#mode "Health_Issues"
df["Health_Issues"].fillna(df["Health_Issues"].mode()[0], inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_68910/2168736942.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Health_Issues"].fillna(df["Health_Issues"].mode()[0], inplace=True)

In [ ]:
#mode "Mental_Health_Leave_Taken"
df["Mental_Health_Leave_Taken"].fillna(df["Mental_Health_Leave_Taken"].mode()[0], inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_68910/290056657.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Mental_Health_Leave_Taken"].fillna(df["Mental_Health_Leave_Taken"].mode()[0], inplace=True)

In [ ]:
df.isnull().sum()

ID                                  0
Age                                 0
Gender                              0
Marital_Status                      0
Job_Role                            0
Experience_Years                    0
Monthly_Salary_INR                  0
Working_Hours_per_Week              0
Commute_Time_Hours                  0
Remote_Work                         0
Stress_Level                        0
Health_Issues                       0
Company_Size                        0
Department                          0
Sleep_Hours                         0
Physical_Activity_Hours_per_Week    0
Mental_Health_Leave_Taken           0
Manager_Support_Level               0
Work_Pressure_Level                 0
Annual_Leaves_Taken                 0
Work_Life_Balance                   0
Family_Support_Level                0
Job_Satisfaction                    0
Performance_Rating                  0
Team_Size                           0
Training_Opportunities              0
Gender_Bias_Experienced             0
Discrimination_Experienced          0
Burnout_Symptoms                    0
Location                            0
dtype: int64

Encoding

In [ ]:
categorical_col=df.select_dtypes(include=["object", "category"]).columns

categorical_col

Index(['Gender', 'Marital_Status', 'Job_Role', 'Health_Issues', 'Company_Size',
       'Department', 'Mental_Health_Leave_Taken', 'Burnout_Symptoms',
       'Location'],
      dtype='object')

In [ ]:
numerical_col=df.select_dtypes(include=["int64", "float64"]).columns

numerical_col

Index(['ID', 'Age', 'Experience_Years', 'Monthly_Salary_INR',
       'Working_Hours_per_Week', 'Commute_Time_Hours', 'Stress_Level',
       'Sleep_Hours', 'Physical_Activity_Hours_per_Week',
       'Manager_Support_Level', 'Work_Pressure_Level', 'Annual_Leaves_Taken',
       'Work_Life_Balance', 'Family_Support_Level', 'Job_Satisfaction',
       'Performance_Rating', 'Team_Size'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Health_Issues                     50000 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         50000 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               50000 non-null  float64
 19  Annual_Leaves_Taken               50000 non-null  float64
 20  Work_Life_Balance                 50000 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                50000 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

#One-Hot Encoding - get_dummies

In [ ]:

df = pd.get_dummies(df, columns=categorical_col, drop_first=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 51 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Experience_Years                  50000 non-null  int64
 3   Monthly_Salary_INR                50000 non-null  float64
 4   Working_Hours_per_Week            50000 non-null  int64
 5   Commute_Time_Hours                50000 non-null  float64
 6   Remote_Work                       50000 non-null  bool
 7   Stress_Level                      50000 non-null  float64
 8   Sleep_Hours                       50000 non-null  float64
 9   Physical_Activity_Hours_per_Week  50000 non-null  float64
 10  Manager_Support_Level             50000 non-null  int64
 11  Work_Pressure_Level               50000 non-null  float64
 12  Annual_Leaves_Taken               50000 non-null  float64
 13  Work_Life_Balance                 50000 non-null  float64
 14  Family_Support_Level              50000 non-null  int64
 15  Job_Satisfaction                  50000 non-null  int64
 16  Performance_Rating                50000 non-null  float64
 17  Team_Size                         50000 non-null  int64
 18  Training_Opportunities            50000 non-null  bool
 19  Gender_Bias_Experienced           50000 non-null  bool
 20  Discrimination_Experienced        50000 non-null  bool
 21  Gender_Male                       50000 non-null  bool
 22  Gender_Non-Binary                 50000 non-null  bool
 23  Marital_Status_Married            50000 non-null  bool
 24  Marital_Status_Single             50000 non-null  bool
 25  Marital_Status_Widowed            50000 non-null  bool
 26  Job_Role_Developer                50000 non-null  bool
 27  Job_Role_HR                       50000 non-null  bool
 28  Job_Role_Manager                  50000 non-null  bool
 29  Job_Role_Sales                    50000 non-null  bool
 30  Job_Role_Support                  50000 non-null  bool
 31  Health_Issues_Mental              50000 non-null  bool
 32  Health_Issues_Physical            50000 non-null  bool
 33  Company_Size_Medium               50000 non-null  bool
 34  Company_Size_Small                50000 non-null  bool
 35  Department_Finance                50000 non-null  bool
 36  Department_HR                     50000 non-null  bool
 37  Department_IT                     50000 non-null  bool
 38  Department_Marketing              50000 non-null  bool
 39  Department_Sales                  50000 non-null  bool
 40  Mental_Health_Leave_Taken_True    50000 non-null  bool
 41  Mental_Health_Leave_Taken_0       50000 non-null  bool
 42  Mental_Health_Leave_Taken_1       50000 non-null  bool
 43  Mental_Health_Leave_Taken_FALSE   50000 non-null  bool
 44  Mental_Health_Leave_Taken_TRUE    50000 non-null  bool
 45  Burnout_Symptoms_No               50000 non-null  bool
 46  Burnout_Symptoms_Occasional       50000 non-null  bool
 47  Burnout_Symptoms_Yes              50000 non-null  bool
 48  Location_Tier-1                   50000 non-null  bool
 49  Location_Tier-2                   50000 non-null  bool
 50  Location_Tier-3                   50000 non-null  bool
dtypes: bool(34), float64(9), int64(8)
memory usage: 8.1 MB

#One-Hot Encoding - OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
one_hot=OneHotEncoder(sparse_output=False, drop="first")

In [ ]:
df[categorical_col]=df[categorical_col].astype(str)

In [ ]:
df_encoded=one_hot.fit_transform(df[categorical_col])

df_encoded

array([[0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 1., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [ ]:
df_encoded = pd.DataFrame(df_encoded)
df=pd.concat([df.drop(columns=categorical_col), df_encoded], axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 51 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Experience_Years                  50000 non-null  int64
 3   Monthly_Salary_INR                50000 non-null  float64
 4   Working_Hours_per_Week            50000 non-null  int64
 5   Commute_Time_Hours                50000 non-null  float64
 6   Remote_Work                       50000 non-null  bool
 7   Stress_Level                      50000 non-null  float64
 8   Sleep_Hours                       50000 non-null  float64
 9   Physical_Activity_Hours_per_Week  50000 non-null  float64
 10  Manager_Support_Level             50000 non-null  int64
 11  Work_Pressure_Level               50000 non-null  float64
 12  Annual_Leaves_Taken               50000 non-null  float64
 13  Work_Life_Balance                 50000 non-null  float64
 14  Family_Support_Level              50000 non-null  int64
 15  Job_Satisfaction                  50000 non-null  int64
 16  Performance_Rating                50000 non-null  float64
 17  Team_Size                         50000 non-null  int64
 18  Training_Opportunities            50000 non-null  bool
 19  Gender_Bias_Experienced           50000 non-null  bool
 20  Discrimination_Experienced        50000 non-null  bool
 21  0                                 50000 non-null  float64
 22  1                                 50000 non-null  float64
 23  2                                 50000 non-null  float64
 24  3                                 50000 non-null  float64
 25  4                                 50000 non-null  float64
 26  5                                 50000 non-null  float64
 27  6                                 50000 non-null  float64
 28  7                                 50000 non-null  float64
 29  8                                 50000 non-null  float64
 30  9                                 50000 non-null  float64
 31  10                                50000 non-null  float64
 32  11                                50000 non-null  float64
 33  12                                50000 non-null  float64
 34  13                                50000 non-null  float64
 35  14                                50000 non-null  float64
 36  15                                50000 non-null  float64
 37  16                                50000 non-null  float64
 38  17                                50000 non-null  float64
 39  18                                50000 non-null  float64
 40  19                                50000 non-null  float64
 41  20                                50000 non-null  float64
 42  21                                50000 non-null  float64
 43  22                                50000 non-null  float64
 44  23                                50000 non-null  float64
 45  24                                50000 non-null  float64
 46  25                                50000 non-null  float64
 47  26                                50000 non-null  float64
 48  27                                50000 non-null  float64
 49  28                                50000 non-null  float64
 50  29                                50000 non-null  float64
dtypes: bool(4), float64(39), int64(8)
memory usage: 18.1 MB

Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder

In [ ]:
df[categorical_col] = encoder.fit_transform(df[categorical_col])

NameError: name 'encoder' is not defined

Frequence Encoding

In [ ]:
df[categorical_col]=df[categorical_col].apply(lambda col: col.map(col.value_counts()))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  int64
 3   Marital_Status                    50000 non-null  int64
 4   Job_Role                          50000 non-null  int64
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Health_Issues                     50000 non-null  int64
 12  Company_Size                      50000 non-null  int64
 13  Department                        50000 non-null  int64
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         50000 non-null  int64
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               50000 non-null  float64
 19  Annual_Leaves_Taken               50000 non-null  float64
 20  Work_Life_Balance                 50000 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                50000 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  int64
 29  Location                          50000 non-null  int64
dtypes: bool(4), float64(9), int64(17)
memory usage: 10.1 MB

Target Encoding (Marital Status)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Health_Issues                     50000 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         50000 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               50000 non-null  float64
 19  Annual_Leaves_Taken               50000 non-null  float64
 20  Work_Life_Balance                 50000 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                50000 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

In [ ]:
df['Marital_Status'].value_counts()

Marital_Status
Single      12569
Divorced    12515
Married     12499
Widowed     12417
Name: count, dtype: int64

In [ ]:
df['Marital_Status']=df['Marital_Status'].map({'Single':1, 'Divorced':0, 'Married':2, 'Widowed':3,})

In [ ]:
df[categorical_col]=df[categorical_col].apply(lambda col: col.map(df.groupby(col)['Marital_Status'].mean()))