In [2]:
%pip install sklearn.preprocessing

Defaulting to user installation because normal site-packages is not writeable
Collecting sklearn.preprocessing
  Downloading sklearn_preprocessing-0.1.0-py3-none-any.whl (10 kB)
Installing collected packages: sklearn.preprocessing
Successfully installed sklearn.preprocessing-0.1.0
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
%pip install sklearn

Defaulting to user installation because normal site-packages is not writeable
Collecting sklearn
  Downloading sklearn-0.0.post12.tar.gz (2.6 kB)
    ERROR: Command errored out with exit status 1:
     command: /Library/Developer/CommandLineTools/usr/bin/python3 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_0748a5283cd941d3a3cb6b5297eb34fe/setup.py'"'"'; __file__='"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_0748a5283cd941d3a3cb6b5297eb34fe/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-pip-egg-info-ebh3vwhx
         cwd: /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_0748a5283cd941d3a3cb6b5297eb34fe/
    Complete output (15 lines):
    The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
    rather than 'sklearn' for pip commands.

    Here is how to fix this error in the main use cases:
    - use 'pip install scikit-learn' rather than 'pip install sklearn'
    - replace 'sklearn' by 'scikit-learn' in your pip requirements files
      (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
    - if the 'sklearn' package is used by one of your dependencies,
      it would be great if you take some time to track which package uses
      'sklearn' instead of 'scikit-learn' and report it to their issue tracker
    - as a last resort, set the environment variable
      SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

    More information is available at
    https://github.com/scikit-learn/sklearn-pypi-package
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/46/1c/395a83ee7b2d2ad7a05b453872053d41449564477c81dc356f720b16eac4/sklearn-0.0.post12.tar.gz#sha256=54cff9e20839b7b202321178228af4d9388bedf78425d9299fd9ee170d68802e (from https://pypi.org/simple/sklearn/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading sklearn-0.0.post11.tar.gz (3.6 kB)
    ERROR: Command errored out with exit status 1:
     command: /Library/Developer/CommandLineTools/usr/bin/python3 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_a3616462ee48489ea4b011df9c3772d1/setup.py'"'"'; __file__='"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_a3616462ee48489ea4b011df9c3772d1/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-pip-egg-info-3c68vegg
         cwd: /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_a3616462ee48489ea4b011df9c3772d1/
    Complete output (18 lines):
    The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
    rather than 'sklearn' for pip commands.

    Here is how to fix this error in the main use cases:
    - use 'pip install scikit-learn' rather than 'pip install sklearn'
    - replace 'sklearn' by 'scikit-learn' in your pip requirements files
      (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
    - if the 'sklearn' package is used by one of your dependencies,
      it would be great if you take some time to track which package uses
      'sklearn' instead of 'scikit-learn' and report it to their issue tracker
    - as a last resort, set the environment variable
      SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

    More information is available at
    https://github.com/scikit-learn/sklearn-pypi-package

    If the previous advice does not cover your use case, feel free to report it at
    https://github.com/scikit-learn/sklearn-pypi-package/issues/new
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/a4/0b/d1c703256cf293be77b7db44dbef62251fe02a97d0bef981f7120b0b0c0f/sklearn-0.0.post11.tar.gz#sha256=af035c4f0b970b7fc2d3856079aa1aa1032df3d7f65048a9d87114abf13c4629 (from https://pypi.org/simple/sklearn/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading sklearn-0.0.post10.tar.gz (3.6 kB)
    ERROR: Command errored out with exit status 1:
     command: /Library/Developer/CommandLineTools/usr/bin/python3 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_40bc7d48d2d04271a87787c64b39a826/setup.py'"'"'; __file__='"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_40bc7d48d2d04271a87787c64b39a826/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-pip-egg-info-751i5nx8
         cwd: /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_40bc7d48d2d04271a87787c64b39a826/
    Complete output (18 lines):
    The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
    rather than 'sklearn' for pip commands.

    Here is how to fix this error in the main use cases:
    - use 'pip install scikit-learn' rather than 'pip install sklearn'
    - replace 'sklearn' by 'scikit-learn' in your pip requirements files
      (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
    - if the 'sklearn' package is used by one of your dependencies,
      it would be great if you take some time to track which package uses
      'sklearn' instead of 'scikit-learn' and report it to their issue tracker
    - as a last resort, set the environment variable
      SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

    More information is available at
    https://github.com/scikit-learn/sklearn-pypi-package

    If the previous advice does not cover your use case, feel free to report it at
    https://github.com/scikit-learn/sklearn-pypi-package/issues/new
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/b9/0e/b2a4cfaa9e12b9ca4c71507bc26d2c99d75de172c0088c9835a98cf146ff/sklearn-0.0.post10.tar.gz#sha256=d4cd5a2e64b3caaf82cd5e33c46884dfeec5ebf991710d9faeb4fe81cadb3ba6 (from https://pypi.org/simple/sklearn/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading sklearn-0.0.post9.tar.gz (3.6 kB)
    ERROR: Command errored out with exit status 1:
     command: /Library/Developer/CommandLineTools/usr/bin/python3 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_e63087aa0bd04402a49f97f7edb0c704/setup.py'"'"'; __file__='"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_e63087aa0bd04402a49f97f7edb0c704/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-pip-egg-info-e88kfvid
         cwd: /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_e63087aa0bd04402a49f97f7edb0c704/
    Complete output (18 lines):
    The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
    rather than 'sklearn' for pip commands.

    Here is how to fix this error in the main use cases:
    - use 'pip install scikit-learn' rather than 'pip install sklearn'
    - replace 'sklearn' by 'scikit-learn' in your pip requirements files
      (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
    - if the 'sklearn' package is used by one of your dependencies,
      it would be great if you take some time to track which package uses
      'sklearn' instead of 'scikit-learn' and report it to their issue tracker
    - as a last resort, set the environment variable
      SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

    More information is available at
    https://github.com/scikit-learn/sklearn-pypi-package

    If the previous advice does not cover your use case, feel free to report it at
    https://github.com/scikit-learn/sklearn-pypi-package/issues/new
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/28/86/207a003339023247fef1bb5bc9f5093140d17294b2f6d15bfcd4885e469e/sklearn-0.0.post9.tar.gz#sha256=1ff5864cf30489ee48a014fe8f4320d7bb59592392a4ef52ae9d7a37942615ac (from https://pypi.org/simple/sklearn/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading sklearn-0.0.post7.tar.gz (3.6 kB)
    ERROR: Command errored out with exit status 1:
     command: /Library/Developer/CommandLineTools/usr/bin/python3 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_60143daaa2ac46c3987f3018bcb1ec22/setup.py'"'"'; __file__='"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_60143daaa2ac46c3987f3018bcb1ec22/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-pip-egg-info-fpi2zrtl
         cwd: /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_60143daaa2ac46c3987f3018bcb1ec22/
    Complete output (18 lines):
    The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
    rather than 'sklearn' for pip commands.

    Here is how to fix this error in the main use cases:
    - use 'pip install scikit-learn' rather than 'pip install sklearn'
    - replace 'sklearn' by 'scikit-learn' in your pip requirements files
      (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
    - if the 'sklearn' package is used by one of your dependencies,
      it would be great if you take some time to track which package uses
      'sklearn' instead of 'scikit-learn' and report it to their issue tracker
    - as a last resort, set the environment variable
      SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

    More information is available at
    https://github.com/scikit-learn/sklearn-pypi-package

    If the previous advice does not cover your use case, feel free to report it at
    https://github.com/scikit-learn/sklearn-pypi-package/issues/new
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/70/ce/81aa643f3c43488c4a1e417e45f696a61e7ac82b57190fad3c310df2c07b/sklearn-0.0.post7.tar.gz#sha256=1c89020b364fdc3aa2839e0ae34e8f0b406669e4b5c2359dda3ac398f9c76874 (from https://pypi.org/simple/sklearn/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading sklearn-0.0.post5.tar.gz (3.7 kB)
    ERROR: Command errored out with exit status 1:
     command: /Library/Developer/CommandLineTools/usr/bin/python3 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_cde1e9e988cc49c0bae2a4fc77eb45c4/setup.py'"'"'; __file__='"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_cde1e9e988cc49c0bae2a4fc77eb45c4/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-pip-egg-info-94uvqqr9
         cwd: /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_cde1e9e988cc49c0bae2a4fc77eb45c4/
    Complete output (18 lines):
    The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
    rather than 'sklearn' for pip commands.

    Here is how to fix this error in the main use cases:
    - use 'pip install scikit-learn' rather than 'pip install sklearn'
    - replace 'sklearn' by 'scikit-learn' in your pip requirements files
      (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
    - if the 'sklearn' package is used by one of your dependencies,
      it would be great if you take some time to track which package uses
      'sklearn' instead of 'scikit-learn' and report it to their issue tracker
    - as a last resort, set the environment variable
      SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

    More information is available at
    https://github.com/scikit-learn/sklearn-pypi-package

    If the previous advice does not cover your use case, feel free to report it at
    https://github.com/scikit-learn/sklearn-pypi-package/issues/new
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/7a/93/e0e1b1e98f39dfca7ec9795cb46f6e09e88a2fd5d4a28e4b3d1f618a2aec/sklearn-0.0.post5.tar.gz#sha256=7377c714a03a79bbe9196f435db931fd2a6fa8c68514da7ed3a251fd08c52e2c (from https://pypi.org/simple/sklearn/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading sklearn-0.0.post4.tar.gz (3.6 kB)
    ERROR: Command errored out with exit status 1:
     command: /Library/Developer/CommandLineTools/usr/bin/python3 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_33f4ccd8f8904465b06ac0815dca7836/setup.py'"'"'; __file__='"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_33f4ccd8f8904465b06ac0815dca7836/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-pip-egg-info-8uck5kdo
         cwd: /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_33f4ccd8f8904465b06ac0815dca7836/
    Complete output (18 lines):
    The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
    rather than 'sklearn' for pip commands.

    Here is how to fix this error in the main use cases:
    - use 'pip install scikit-learn' rather than 'pip install sklearn'
    - replace 'sklearn' by 'scikit-learn' in your pip requirements files
      (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
    - if the 'sklearn' package is used by one of your dependencies,
      it would be great if you take some time to track which package uses
      'sklearn' instead of 'scikit-learn' and report it to their issue tracker
    - as a last resort, set the environment variable
      SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

    More information is available at
    https://github.com/scikit-learn/sklearn-pypi-package

    If the previous advice does not cover your use case, feel free to report it at
    https://github.com/scikit-learn/sklearn-pypi-package/issues/new
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/99/b2/165110013aa66fae6fc13918ad0e9de4801e5f1691d371bf8b63328037e6/sklearn-0.0.post4.tar.gz#sha256=0e81ec9c32d4bb418e7be8f1ec1027d174975502dc84cbc4f4564b4cba31e674 (from https://pypi.org/simple/sklearn/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
    ERROR: Command errored out with exit status 1:
     command: /Library/Developer/CommandLineTools/usr/bin/python3 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_13b71cc1e87e4f378a79c87839e324d4/setup.py'"'"'; __file__='"'"'/private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_13b71cc1e87e4f378a79c87839e324d4/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-pip-egg-info-0kip_sir
         cwd: /private/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/pip-install-ttzc0g_q/sklearn_13b71cc1e87e4f378a79c87839e324d4/
    Complete output (18 lines):
    The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
    rather than 'sklearn' for pip commands.

    Here is how to fix this error in the main use cases:
    - use 'pip install scikit-learn' rather than 'pip install sklearn'
    - replace 'sklearn' by 'scikit-learn' in your pip requirements files
      (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
    - if the 'sklearn' package is used by one of your dependencies,
      it would be great if you take some time to track which package uses
      'sklearn' instead of 'scikit-learn' and report it to their issue tracker
    - as a last resort, set the environment variable
      SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

    More information is available at
    https://github.com/scikit-learn/sklearn-pypi-package

    If the previous advice does not cover your use case, feel free to report it at
    https://github.com/scikit-learn/sklearn-pypi-package/issues/new
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/db/1e/af4e9cded5093a92e60d4ae7149a02c7427661b2db66c8ea4d34b17864a2/sklearn-0.0.post1.tar.gz#sha256=76b9ed1623775168657b86b5fe966d45752e5c87f528de6240c38923b94147c5 (from https://pypi.org/simple/sklearn/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp39-cp39-macosx_10_9_x86_64.whl (12.1 MB)
     |████████████████████████████████| 12.1 MB 9.9 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.19.5 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from scikit-learn->sklearn) (2.0.2)
Collecting threadpoolctl>=3.1.0
  Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Collecting joblib>=1.2.0
  Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
     |████████████████████████████████| 301 kB 13.2 MB/s eta 0:00:01

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
df=pd.read_csv("Telefon turini aniqlash 2.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2000 non-null   int64
 1   blutus                         2000 non-null   int64
 2   protsessor_tezligi             2000 non-null   float64
 3   ikkita simkartalik             2000 non-null   int64
 4   Oldi_kamera                    2000 non-null   int64
 5   4G                             2000 non-null   int64
 6   Ichki_xotira                   2000 non-null   int64
 7   tel_ingichgaligi               1997 non-null   float64
 8   Rangi                          2000 non-null   object
 9   Vazni                          2000 non-null   int64
 10  Protsessor yadrolari soni      1999 non-null   float64
 11  Asosiy kamera                  1998 non-null   float64
 12  Qurilma xajmi(pix)             1998 non-null   float64
 13  Qurilma ekran kengligi(pix)    1997 non-null   float64
 14  ram                            2000 non-null   int64
 15  Qurilma xajmi(cm)              1999 non-null   float64
 16  Qurilma ekran kengligi(cm)     1999 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2000 non-null   int64
 18  3g                             2000 non-null   int64
 19  sensorli                       2000 non-null   int64
 20  wifi                           2000 non-null   int64
 21  telefon_turi                   2000 non-null   int64
dtypes: float64(8), int64(13), object(1)
memory usage: 343.9+ KB

In [6]:
#1. Drop rows with missing values

df.dropna(inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1987 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                1987 non-null   int64
 1   blutus                         1987 non-null   int64
 2   protsessor_tezligi             1987 non-null   float64
 3   ikkita simkartalik             1987 non-null   int64
 4   Oldi_kamera                    1987 non-null   int64
 5   4G                             1987 non-null   int64
 6   Ichki_xotira                   1987 non-null   int64
 7   tel_ingichgaligi               1987 non-null   float64
 8   Rangi                          1987 non-null   object
 9   Vazni                          1987 non-null   int64
 10  Protsessor yadrolari soni      1987 non-null   float64
 11  Asosiy kamera                  1987 non-null   float64
 12  Qurilma xajmi(pix)             1987 non-null   float64
 13  Qurilma ekran kengligi(pix)    1987 non-null   float64
 14  ram                            1987 non-null   int64
 15  Qurilma xajmi(cm)              1987 non-null   float64
 16  Qurilma ekran kengligi(cm)     1987 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  1987 non-null   int64
 18  3g                             1987 non-null   int64
 19  sensorli                       1987 non-null   int64
 20  wifi                           1987 non-null   int64
 21  telefon_turi                   1987 non-null   int64
dtypes: float64(8), int64(13), object(1)
memory usage: 357.0+ KB

In [8]:
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 0
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        0
Asosiy kamera                    0
Qurilma xajmi(pix)               0
Qurilma ekran kengligi(pix)      0
ram                              0
Qurilma xajmi(cm)                0
Qurilma ekran kengligi(cm)       0
Bir_quvvatlashdagi gaplashish    0
3g                               0
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [9]:
#2. Drop columns with missing values

df.dropna(axis=1, inplace=True)

In [3]:
df.fillna(df.mean(), inplace=True)

TypeError: Could not convert ['QizilYashilSariqJigarrangOqOqYashilYashilYashilYashilYashilQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQoraQora'] to numeric

In [4]:
df["Rangi"].value_counts()

Rangi
Qora         1989
Yashil          6
Oq              2
Qizil           1
Jigarrang       1
Sariq           1
Name: count, dtype: int64

In [7]:
df.fillna(0, inplace=True)  #df.fillna(fixed value, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2000 non-null   int64
 1   blutus                         2000 non-null   int64
 2   protsessor_tezligi             2000 non-null   float64
 3   ikkita simkartalik             2000 non-null   int64
 4   Oldi_kamera                    2000 non-null   int64
 5   4G                             2000 non-null   int64
 6   Ichki_xotira                   2000 non-null   int64
 7   tel_ingichgaligi               2000 non-null   float64
 8   Rangi                          2000 non-null   object
 9   Vazni                          2000 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  2000 non-null   float64
 12  Qurilma xajmi(pix)             2000 non-null   float64
 13  Qurilma ekran kengligi(pix)    2000 non-null   float64
 14  ram                            2000 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2000 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2000 non-null   int64
 18  3g                             2000 non-null   int64
 19  sensorli                       2000 non-null   int64
 20  wifi                           2000 non-null   int64
 21  telefon_turi                   2000 non-null   int64
dtypes: float64(8), int64(13), object(1)
memory usage: 343.9+ KB

In [7]:
label_encoder=LabelEncoder() #call qilamiz
df["Rangi"] = label_encoder.fit_transform(df["Rangi"])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2000 non-null   int64
 1   blutus                         2000 non-null   int64
 2   protsessor_tezligi             2000 non-null   float64
 3   ikkita simkartalik             2000 non-null   int64
 4   Oldi_kamera                    2000 non-null   int64
 5   4G                             2000 non-null   int64
 6   Ichki_xotira                   2000 non-null   int64
 7   tel_ingichgaligi               1997 non-null   float64
 8   Rangi                          2000 non-null   int64
 9   Vazni                          2000 non-null   int64
 10  Protsessor yadrolari soni      1999 non-null   float64
 11  Asosiy kamera                  1998 non-null   float64
 12  Qurilma xajmi(pix)             1998 non-null   float64
 13  Qurilma ekran kengligi(pix)    1997 non-null   float64
 14  ram                            2000 non-null   int64
 15  Qurilma xajmi(cm)              1999 non-null   float64
 16  Qurilma ekran kengligi(cm)     1999 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2000 non-null   int64
 18  3g                             2000 non-null   int64
 19  sensorli                       2000 non-null   int64
 20  wifi                           2000 non-null   int64
 21  telefon_turi                   2000 non-null   int64
dtypes: float64(8), int64(14)
memory usage: 343.9 KB

In [9]:
df["Rangi"]

0       2
1       5
2       4
3       0
4       1
       ..
1995    3
1996    3
1997    3
1998    3
1999    3
Name: Rangi, Length: 2000, dtype: int64

In [10]:
df["Rangi"].value_counts()

Rangi
3    1989
5       6
1       2
2       1
0       1
4       1
Name: count, dtype: int64

In [3]:
df_encoded=pd.get_dummies(df, columns=["Rangi"], drop_first=False)

In [5]:
df_encoded

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Vazni,Protsessor yadrolari soni,...,3g,sensorli,wifi,telefon_turi,Rangi_Jigarrang,Rangi_Oq,Rangi_Qizil,Rangi_Qora,Rangi_Sariq,Rangi_Yashil
0,842,0,2.2,0,1,0,7,0.6,188,2.0,...,0,0,1,1,False,False,True,False,False,False
1,1021,1,0.5,1,0,1,53,0.7,136,3.0,...,1,1,0,2,False,False,False,False,False,True
2,563,1,0.5,1,2,1,41,0.9,145,5.0,...,1,1,0,2,False,False,False,False,True,False
3,615,1,2.5,0,0,0,10,0.8,131,6.0,...,1,0,0,2,True,False,False,False,False,False
4,1821,1,1.2,0,13,1,44,0.6,141,2.0,...,1,1,0,1,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6.0,...,1,1,0,0,False,False,False,True,False,False
1996,1965,1,2.6,1,0,0,39,0.2,187,4.0,...,1,1,1,2,False,False,False,True,False,False
1997,1911,0,0.9,1,1,1,36,0.7,108,8.0,...,1,1,0,3,False,False,False,True,False,False
1998,1512,0,0.9,0,4,1,46,0.1,145,5.0,...,1,1,1,0,False,False,False,True,False,False
1999,510,1,2.0,1,5,1,45,0.9,168,6.0,...,1,1,1,3,False,False,False,True,False,False

In [6]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2000 non-null   int64
 1   blutus                         2000 non-null   int64
 2   protsessor_tezligi             2000 non-null   float64
 3   ikkita simkartalik             2000 non-null   int64
 4   Oldi_kamera                    2000 non-null   int64
 5   4G                             2000 non-null   int64
 6   Ichki_xotira                   2000 non-null   int64
 7   tel_ingichgaligi               1997 non-null   float64
 8   Vazni                          2000 non-null   int64
 9   Protsessor yadrolari soni      1999 non-null   float64
 10  Asosiy kamera                  1998 non-null   float64
 11  Qurilma xajmi(pix)             1998 non-null   float64
 12  Qurilma ekran kengligi(pix)    1997 non-null   float64
 13  ram                            2000 non-null   int64
 14  Qurilma xajmi(cm)              1999 non-null   float64
 15  Qurilma ekran kengligi(cm)     1999 non-null   float64
 16  Bir_quvvatlashdagi gaplashish  2000 non-null   int64
 17  3g                             2000 non-null   int64
 18  sensorli                       2000 non-null   int64
 19  wifi                           2000 non-null   int64
 20  telefon_turi                   2000 non-null   int64
 21  Rangi_Jigarrang                2000 non-null   bool
 22  Rangi_Oq                       2000 non-null   bool
 23  Rangi_Qizil                    2000 non-null   bool
 24  Rangi_Qora                     2000 non-null   bool
 25  Rangi_Sariq                    2000 non-null   bool
 26  Rangi_Yashil                   2000 non-null   bool
dtypes: bool(6), float64(8), int64(13)
memory usage: 340.0 KB

In [7]:
df_encoded.fillna(0).astype(int)

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Vazni,Protsessor yadrolari soni,...,3g,sensorli,wifi,telefon_turi,Rangi_Jigarrang,Rangi_Oq,Rangi_Qizil,Rangi_Qora,Rangi_Sariq,Rangi_Yashil
0,842,0,2,0,1,0,7,0,188,2,...,0,0,1,1,0,0,1,0,0,0
1,1021,1,0,1,0,1,53,0,136,3,...,1,1,0,2,0,0,0,0,0,1
2,563,1,0,1,2,1,41,0,145,5,...,1,1,0,2,0,0,0,0,1,0
3,615,1,2,0,0,0,10,0,131,6,...,1,0,0,2,1,0,0,0,0,0
4,1821,1,1,0,13,1,44,0,141,2,...,1,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0,1,0,1,2,0,106,6,...,1,1,0,0,0,0,0,1,0,0
1996,1965,1,2,1,0,0,39,0,187,4,...,1,1,1,2,0,0,0,1,0,0
1997,1911,0,0,1,1,1,36,0,108,8,...,1,1,0,3,0,0,0,1,0,0
1998,1512,0,0,0,4,1,46,0,145,5,...,1,1,1,0,0,0,0,1,0,0
1999,510,1,2,1,5,1,45,0,168,6,...,1,1,1,3,0,0,0,1,0,0

#Uyga Vazifa

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
df=pd.read_csv("Corporate Stress.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          49999 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                49999 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      49999 non-null  float64
 11  Health_Issues                     37459 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         49999 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               49999 non-null  float64
 19  Annual_Leaves_Taken               49999 non-null  float64
 20  Work_Life_Balance                 49998 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                49999 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_59435/1449769965.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Corporate Stress.csv")

In [ ]:
df.isnull().sum()

ID                                      0
Age                                     0
Gender                                  0
Marital_Status                          0
Job_Role                                1
Experience_Years                        0
Monthly_Salary_INR                      0
Working_Hours_per_Week                  0
Commute_Time_Hours                      1
Remote_Work                             0
Stress_Level                            1
Health_Issues                       12541
Company_Size                            0
Department                              0
Sleep_Hours                             0
Physical_Activity_Hours_per_Week        0
Mental_Health_Leave_Taken               1
Manager_Support_Level                   0
Work_Pressure_Level                     1
Annual_Leaves_Taken                     1
Work_Life_Balance                       2
Family_Support_Level                    0
Job_Satisfaction                        0
Performance_Rating                      1
Team_Size                               0
Training_Opportunities                  0
Gender_Bias_Experienced                 0
Discrimination_Experienced              0
Burnout_Symptoms                        0
Location                                0
dtype: int64

In [ ]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37452 entries, 2 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                37452 non-null  int64
 1   Age                               37452 non-null  int64
 2   Gender                            37452 non-null  object
 3   Marital_Status                    37452 non-null  object
 4   Job_Role                          37452 non-null  object
 5   Experience_Years                  37452 non-null  int64
 6   Monthly_Salary_INR                37452 non-null  float64
 7   Working_Hours_per_Week            37452 non-null  int64
 8   Commute_Time_Hours                37452 non-null  float64
 9   Remote_Work                       37452 non-null  bool
 10  Stress_Level                      37452 non-null  float64
 11  Health_Issues                     37452 non-null  object
 12  Company_Size                      37452 non-null  object
 13  Department                        37452 non-null  object
 14  Sleep_Hours                       37452 non-null  float64
 15  Physical_Activity_Hours_per_Week  37452 non-null  float64
 16  Mental_Health_Leave_Taken         37452 non-null  object
 17  Manager_Support_Level             37452 non-null  int64
 18  Work_Pressure_Level               37452 non-null  float64
 19  Annual_Leaves_Taken               37452 non-null  float64
 20  Work_Life_Balance                 37452 non-null  float64
 21  Family_Support_Level              37452 non-null  int64
 22  Job_Satisfaction                  37452 non-null  int64
 23  Performance_Rating                37452 non-null  float64
 24  Team_Size                         37452 non-null  int64
 25  Training_Opportunities            37452 non-null  bool
 26  Gender_Bias_Experienced           37452 non-null  bool
 27  Discrimination_Experienced        37452 non-null  bool
 28  Burnout_Symptoms                  37452 non-null  object
 29  Location                          37452 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 7.9+ MB

In [ ]:
df.dropna(axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Experience_Years                  50000 non-null  int64
 5   Monthly_Salary_INR                50000 non-null  float64
 6   Working_Hours_per_Week            50000 non-null  int64
 7   Remote_Work                       50000 non-null  bool
 8   Company_Size                      50000 non-null  object
 9   Department                        50000 non-null  object
 10  Sleep_Hours                       50000 non-null  float64
 11  Physical_Activity_Hours_per_Week  50000 non-null  float64
 12  Manager_Support_Level             50000 non-null  int64
 13  Family_Support_Level              50000 non-null  int64
 14  Job_Satisfaction                  50000 non-null  int64
 15  Team_Size                         50000 non-null  int64
 16  Training_Opportunities            50000 non-null  bool
 17  Gender_Bias_Experienced           50000 non-null  bool
 18  Discrimination_Experienced        50000 non-null  bool
 19  Burnout_Symptoms                  50000 non-null  object
 20  Location                          50000 non-null  object
dtypes: bool(4), float64(3), int64(8), object(6)
memory usage: 6.7+ MB

In [ ]:
df.fillna(df.mean(), inplace=True)

TypeError: can only concatenate str (not "int") to str

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          49999 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                49999 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      49999 non-null  float64
 11  Health_Issues                     37459 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         49999 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               49999 non-null  float64
 19  Annual_Leaves_Taken               49999 non-null  float64
 20  Work_Life_Balance                 49998 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                49999 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

In [ ]:
df["Gender"].value_counts()

Gender
Female        16769
Male          16718
Non-Binary    16513
Name: count, dtype: int64

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Health_Issues                     50000 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         50000 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               50000 non-null  float64
 19  Annual_Leaves_Taken               50000 non-null  float64
 20  Work_Life_Balance                 50000 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                50000 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

In [ ]:
cat_cols=df.select_dtypes(include=["object", "category"]).columns.tolist()

In [ ]:
cat_cols

['Gender',
 'Marital_Status',
 'Job_Role',
 'Health_Issues',
 'Company_Size',
 'Department',
 'Mental_Health_Leave_Taken',
 'Burnout_Symptoms',
 'Location']

In [ ]:
label=LabelEncoder()
df['Gender'] = label.fit_transform(df['Gender'])

In [ ]:
print(df['Job_Role'].unique())

['Developer' 'Analyst' 'Sales' 'Manager' 'HR' 'Support' 0]

In [ ]:
df['Job_Role'] = df['Job_Role'].astype(str)
df['Job_Role'] = label.fit_transform(df['Job_Role'])

In [ ]:
df['Health_Issues'] = df['Health_Issues'].astype(str)
df['Health_Issues'] = label.fit_transform(df['Health_Issues'])

In [ ]:
df['Company_Size'] = label.fit_transform(df['Company_Size'])
df['Department'] = label.fit_transform(df['Department'])
df['Burnout_Symptoms'] = label.fit_transform(df['Burnout_Symptoms'])
df['Location'] = label.fit_transform(df['Location'])

In [ ]:
df['Mental_Health_Leave_Taken'] = df['Mental_Health_Leave_Taken'].astype(str)
df['Mental_Health_Leave_Taken'] = label.fit_transform(df['Mental_Health_Leave_Taken'])

In [ ]:
cat_cols=df.select_dtypes(include=["object", "category"]).columns.tolist()

In [ ]:
cat_cols

['Gender',
 'Marital_Status',
 'Job_Role',
 'Health_Issues',
 'Company_Size',
 'Department',
 'Mental_Health_Leave_Taken',
 'Burnout_Symptoms',
 'Location']

In [ ]:
df['Marital_Status'] = label.fit_transform(df['Marital_Status'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  int64
 3   Marital_Status                    50000 non-null  int64
 4   Job_Role                          50000 non-null  int64
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Health_Issues                     50000 non-null  int64
 12  Company_Size                      50000 non-null  int64
 13  Department                        50000 non-null  int64
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         50000 non-null  int64
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               50000 non-null  float64
 19  Annual_Leaves_Taken               50000 non-null  float64
 20  Work_Life_Balance                 50000 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                50000 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  int64
 29  Location                          50000 non-null  int64
dtypes: bool(4), float64(9), int64(17)
memory usage: 10.1 MB

In [ ]:
df_encoded=pd.get_dummies(df, columns=['Gender'], drop_first=False)

In [ ]:
df_encoded=pd.get_dummies(df, columns=['Marital_Status'], drop_first=False)

In [ ]:
df_encoded=pd.get_dummies(df, columns=['Job_Role'], drop_first=False)

In [ ]:
df_encoded=pd.get_dummies(df, columns=['Health_Issues'], drop_first=False)

In [ ]:
df_encoded.astype(int)

ValueError: invalid literal for int() with base 10: 'Widowed'