#2-dars

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("Telefon turini aniqlash.csv")

In [6]:
df.head(1)

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma xajmi(pix),Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,20.0,756.0,2549,9.0,7.0,19,0,0,1,1

In [7]:
df.info

<bound method DataFrame.info of       battereya_hajmi  blutus  protsessor_tezligi  ikkita simkartalik  \
0                 842       0                 2.2                   0
1                1021       1                 0.5                   1
2                 563       1                 0.5                   1
3                 615       1                 2.5                   0
4                1821       1                 1.2                   0
...               ...     ...                 ...                 ...
1995              794       1                 0.5                   1
1996             1965       1                 2.6                   1
1997             1911       0                 0.9                   1
1998             1512       0                 0.9                   0
1999              510       1                 2.0                   1

      Oldi_kamera  4G  Ichki_xotira  tel_ingichgaligi      Rangi  Vazni  ...  \
0               1   0             7               0.6      Qizil    188  ...
1               0   1            53               0.7     Yashil    136  ...
2               2   1            41               0.9      Sariq    145  ...
3               0   0            10               0.8  Jigarrang    131  ...
4              13   1            44               0.6         Oq    141  ...
...           ...  ..           ...               ...        ...    ...  ...
1995            0   1             2               0.8       Qora    106  ...
1996            0   0            39               0.2       Qora    187  ...
1997            1   1            36               0.7       Qora    108  ...
1998            4   1            46               0.1       Qora    145  ...
1999            5   1            45               0.9       Qora    168  ...

      Qurilma xajmi(pix)  Qurilma ekran kengligi(pix)   ram  \
0                   20.0                        756.0  2549
1                  905.0                       1988.0  2631
2                 1263.0                       1716.0  2603
3                 1216.0                       1786.0  2769
4                 1208.0                       1212.0  1411
...                  ...                          ...   ...
1995              1222.0                       1890.0   668
1996               915.0                       1965.0  2032
1997               868.0                       1632.0  3057
1998               336.0                        670.0   869
1999               483.0                        754.0  3919

      Qurilma xajmi(cm)  Qurilma ekran kengligi(cm)  \
0                   9.0                         7.0
1                  17.0                         3.0
2                  11.0                         2.0
3                  16.0                         8.0
4                   8.0                         2.0
...                 ...                         ...
1995               13.0                         4.0
1996               11.0                        10.0
1997                9.0                         1.0
1998               18.0                        10.0
1999               19.0                         4.0

      Bir_quvvatlashdagi gaplashish  3g  sensorli  wifi  telefon_turi
0                                19   0         0     1             1
1                                 7   1         1     0             2
2                                 9   1         1     0             2
3                                11   1         0     0             2
4                                15   1         1     0             1
...                             ...  ..       ...   ...           ...
1995                             19   1         1     0             0
1996                             16   1         1     1             2
1997                              5   1         1     0             3
1998                             19   1         1     1             0
1999                              2   1         1     1             3

[2000 rows x 22 columns]>

In [8]:
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 3
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        1
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [9]:
df.tail

<bound method NDFrame.tail of       battereya_hajmi  blutus  protsessor_tezligi  ikkita simkartalik  \
0                 842       0                 2.2                   0
1                1021       1                 0.5                   1
2                 563       1                 0.5                   1
3                 615       1                 2.5                   0
4                1821       1                 1.2                   0
...               ...     ...                 ...                 ...
1995              794       1                 0.5                   1
1996             1965       1                 2.6                   1
1997             1911       0                 0.9                   1
1998             1512       0                 0.9                   0
1999              510       1                 2.0                   1

      Oldi_kamera  4G  Ichki_xotira  tel_ingichgaligi      Rangi  Vazni  ...  \
0               1   0             7               0.6      Qizil    188  ...
1               0   1            53               0.7     Yashil    136  ...
2               2   1            41               0.9      Sariq    145  ...
3               0   0            10               0.8  Jigarrang    131  ...
4              13   1            44               0.6         Oq    141  ...
...           ...  ..           ...               ...        ...    ...  ...
1995            0   1             2               0.8       Qora    106  ...
1996            0   0            39               0.2       Qora    187  ...
1997            1   1            36               0.7       Qora    108  ...
1998            4   1            46               0.1       Qora    145  ...
1999            5   1            45               0.9       Qora    168  ...

      Qurilma xajmi(pix)  Qurilma ekran kengligi(pix)   ram  \
0                   20.0                        756.0  2549
1                  905.0                       1988.0  2631
2                 1263.0                       1716.0  2603
3                 1216.0                       1786.0  2769
4                 1208.0                       1212.0  1411
...                  ...                          ...   ...
1995              1222.0                       1890.0   668
1996               915.0                       1965.0  2032
1997               868.0                       1632.0  3057
1998               336.0                        670.0   869
1999               483.0                        754.0  3919

      Qurilma xajmi(cm)  Qurilma ekran kengligi(cm)  \
0                   9.0                         7.0
1                  17.0                         3.0
2                  11.0                         2.0
3                  16.0                         8.0
4                   8.0                         2.0
...                 ...                         ...
1995               13.0                         4.0
1996               11.0                        10.0
1997                9.0                         1.0
1998               18.0                        10.0
1999               19.0                         4.0

      Bir_quvvatlashdagi gaplashish  3g  sensorli  wifi  telefon_turi
0                                19   0         0     1             1
1                                 7   1         1     0             2
2                                 9   1         1     0             2
3                                11   1         0     0             2
4                                15   1         1     0             1
...                             ...  ..       ...   ...           ...
1995                             19   1         1     0             0
1996                             16   1         1     1             2
1997                              5   1         1     0             3
1998                             19   1         1     1             0
1999                              2   1         1     1             3

[2000 rows x 22 columns]>

#3-dars

1-ML loyiha

In [11]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [12]:
%pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (2.0.2)
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [13]:
%pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.0.2)
Requirement already satisfied: pandas>=1.2 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from seaborn) (3.9.4)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: cycler>=0.10 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.4.5)
Requirement already satisfied: pillow>=8 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: packaging>=20.0 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: zipp>=3.1.0 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.21.0)
Requirement already satisfied: pytz>=2020.1 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [14]:
%pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (3.9.4)
Requirement already satisfied: fonttools>=4.22.0 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: cycler>=0.10 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: numpy>=1.23 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib) (2.0.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: packaging>=20.0 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: zipp>=3.1.0 in /Users/hondamir/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.21.0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
import numpy as np
import seaborn as sbs
import matplotlib.pyplot as plt

In [17]:
#pandas
#datani vscodega olish

df=pd.read_csv("Telefon turini aniqlash.csv")

In [19]:
#datani tekshirish

df.head()

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma xajmi(pix),Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,20.0,756.0,2549,9.0,7.0,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,Yashil,136,...,905.0,1988.0,2631,17.0,3.0,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,Sariq,145,...,1263.0,1716.0,2603,11.0,2.0,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,Jigarrang,131,...,1216.0,1786.0,2769,16.0,8.0,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,Oq,141,...,1208.0,1212.0,1411,8.0,2.0,15,1,1,0,1

In [20]:
df.tail()

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma xajmi(pix),Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi
1995,794,1,0.5,1,0,1,2,0.8,Qora,106,...,1222.0,1890.0,668,13.0,4.0,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,Qora,187,...,915.0,1965.0,2032,11.0,10.0,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,Qora,108,...,868.0,1632.0,3057,9.0,1.0,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,Qora,145,...,336.0,670.0,869,18.0,10.0,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,Qora,168,...,483.0,754.0,3919,19.0,4.0,2,1,1,1,3

In [21]:
#ustunni tekshirish

df["protsessor_tezligi"]

0       2.2
1       0.5
2       0.5
3       2.5
4       1.2
       ...
1995    0.5
1996    2.6
1997    0.9
1998    0.9
1999    2.0
Name: protsessor_tezligi, Length: 2000, dtype: float64

In [22]:
#yangi input(feature) yaratish

df["protsessor_tezligi_ratio"]=df["protsessor_tezligi"]/100

In [23]:
df.head(1)

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi,protsessor_tezligi_ratio
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,756.0,2549,9.0,7.0,19,0,0,1,1,0.022

In [25]:
#keraksiz ustunni tahslab yuborish

df.drop("protsessor_tezligi_ratio", axis=1, inplace=True)

In [26]:
df.head()

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma xajmi(pix),Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,20.0,756.0,2549,9.0,7.0,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,Yashil,136,...,905.0,1988.0,2631,17.0,3.0,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,Sariq,145,...,1263.0,1716.0,2603,11.0,2.0,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,Jigarrang,131,...,1216.0,1786.0,2769,16.0,8.0,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,Oq,141,...,1208.0,1212.0,1411,8.0,2.0,15,1,1,0,1

In [29]:
#data haqida umumiy malumot olish

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2000 non-null   int64
 1   blutus                         2000 non-null   int64
 2   protsessor_tezligi             2000 non-null   float64
 3   ikkita simkartalik             2000 non-null   int64
 4   Oldi_kamera                    2000 non-null   int64
 5   4G                             2000 non-null   int64
 6   Ichki_xotira                   2000 non-null   int64
 7   tel_ingichgaligi               1997 non-null   float64
 8   Rangi                          2000 non-null   object
 9   Vazni                          2000 non-null   int64
 10  Protsessor yadrolari soni      1999 non-null   float64
 11  Asosiy kamera                  1998 non-null   float64
 12  Qurilma xajmi(pix)             1998 non-null   float64
 13  Qurilma ekran kengligi(pix)    1997 non-null   float64
 14  ram                            2000 non-null   int64
 15  Qurilma xajmi(cm)              1999 non-null   float64
 16  Qurilma ekran kengligi(cm)     1999 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2000 non-null   int64
 18  3g                             2000 non-null   int64
 19  sensorli                       2000 non-null   int64
 20  wifi                           2000 non-null   int64
 21  telefon_turi                   2000 non-null   int64
dtypes: float64(8), int64(13), object(1)
memory usage: 343.9+ KB

In [30]:
df.shape

(2000, 22)

In [32]:
df.describe()

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Vazni,Protsessor yadrolari soni,...,Qurilma xajmi(pix),Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,1997.000000,2000.000000,1999.00000,...,1998.000000,1997.000000,2000.000000,1999.000000,1999.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501803,140.249000,4.51976,...,645.416416,1251.328493,2124.213000,12.308154,5.768384,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288519,35.399655,2.28817,...,443.871085,432.235268,1084.732044,4.213650,4.357048,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.00000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.00000,...,283.250000,875.000000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.00000,...,565.500000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.00000,...,947.750000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.00000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000