In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Corporate Stress.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          49999 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                49999 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      49999 non-null  float64
 11  Health_Issues                     37459 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         49999 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               49999 non-null  float64
 19  Annual_Leaves_Taken               49999 non-null  float64
 20  Work_Life_Balance                 49998 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                49999 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_21361/2808422374.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Corporate Stress.csv')

MISSING VALUES

In [3]:
df.isnull().sum()

ID                                      0
Age                                     0
Gender                                  0
Marital_Status                          0
Job_Role                                1
Experience_Years                        0
Monthly_Salary_INR                      0
Working_Hours_per_Week                  0
Commute_Time_Hours                      1
Remote_Work                             0
Stress_Level                            1
Health_Issues                       12541
Company_Size                            0
Department                              0
Sleep_Hours                             0
Physical_Activity_Hours_per_Week        0
Mental_Health_Leave_Taken               1
Manager_Support_Level                   0
Work_Pressure_Level                     1
Annual_Leaves_Taken                     1
Work_Life_Balance                       2
Family_Support_Level                    0
Job_Satisfaction                        0
Performance_Rating                      1
Team_Size                               0
Training_Opportunities                  0
Gender_Bias_Experienced                 0
Discrimination_Experienced              0
Burnout_Symptoms                        0
Location                                0
dtype: int64

In [4]:
df=df.dropna()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37452 entries, 2 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                37452 non-null  int64
 1   Age                               37452 non-null  int64
 2   Gender                            37452 non-null  object
 3   Marital_Status                    37452 non-null  object
 4   Job_Role                          37452 non-null  object
 5   Experience_Years                  37452 non-null  int64
 6   Monthly_Salary_INR                37452 non-null  float64
 7   Working_Hours_per_Week            37452 non-null  int64
 8   Commute_Time_Hours                37452 non-null  float64
 9   Remote_Work                       37452 non-null  bool
 10  Stress_Level                      37452 non-null  float64
 11  Health_Issues                     37452 non-null  object
 12  Company_Size                      37452 non-null  object
 13  Department                        37452 non-null  object
 14  Sleep_Hours                       37452 non-null  float64
 15  Physical_Activity_Hours_per_Week  37452 non-null  float64
 16  Mental_Health_Leave_Taken         37452 non-null  object
 17  Manager_Support_Level             37452 non-null  int64
 18  Work_Pressure_Level               37452 non-null  float64
 19  Annual_Leaves_Taken               37452 non-null  float64
 20  Work_Life_Balance                 37452 non-null  float64
 21  Family_Support_Level              37452 non-null  int64
 22  Job_Satisfaction                  37452 non-null  int64
 23  Performance_Rating                37452 non-null  float64
 24  Team_Size                         37452 non-null  int64
 25  Training_Opportunities            37452 non-null  bool
 26  Gender_Bias_Experienced           37452 non-null  bool
 27  Discrimination_Experienced        37452 non-null  bool
 28  Burnout_Symptoms                  37452 non-null  object
 29  Location                          37452 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 7.9+ MB

ENCODING

In [6]:
categorical_col = df.select_dtypes(include=['object', 'category', 'bool']).columns

categorical_col

Index(['Gender', 'Marital_Status', 'Job_Role', 'Remote_Work', 'Health_Issues',
       'Company_Size', 'Department', 'Mental_Health_Leave_Taken',
       'Training_Opportunities', 'Gender_Bias_Experienced',
       'Discrimination_Experienced', 'Burnout_Symptoms', 'Location'],
      dtype='object')

ONE-HOT ENCODING - get_dummies

In [7]:
df = pd.get_dummies(df, columns=categorical_col, dtype=int)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37452 entries, 2 to 49999
Data columns (total 63 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                37452 non-null  int64
 1   Age                               37452 non-null  int64
 2   Experience_Years                  37452 non-null  int64
 3   Monthly_Salary_INR                37452 non-null  float64
 4   Working_Hours_per_Week            37452 non-null  int64
 5   Commute_Time_Hours                37452 non-null  float64
 6   Stress_Level                      37452 non-null  float64
 7   Sleep_Hours                       37452 non-null  float64
 8   Physical_Activity_Hours_per_Week  37452 non-null  float64
 9   Manager_Support_Level             37452 non-null  int64
 10  Work_Pressure_Level               37452 non-null  float64
 11  Annual_Leaves_Taken               37452 non-null  float64
 12  Work_Life_Balance                 37452 non-null  float64
 13  Family_Support_Level              37452 non-null  int64
 14  Job_Satisfaction                  37452 non-null  int64
 15  Performance_Rating                37452 non-null  float64
 16  Team_Size                         37452 non-null  int64
 17  Gender_Female                     37452 non-null  int64
 18  Gender_Male                       37452 non-null  int64
 19  Gender_Non-Binary                 37452 non-null  int64
 20  Marital_Status_Divorced           37452 non-null  int64
 21  Marital_Status_Married            37452 non-null  int64
 22  Marital_Status_Single             37452 non-null  int64
 23  Marital_Status_Widowed            37452 non-null  int64
 24  Job_Role_Analyst                  37452 non-null  int64
 25  Job_Role_Developer                37452 non-null  int64
 26  Job_Role_HR                       37452 non-null  int64
 27  Job_Role_Manager                  37452 non-null  int64
 28  Job_Role_Sales                    37452 non-null  int64
 29  Job_Role_Support                  37452 non-null  int64
 30  Remote_Work_False                 37452 non-null  int64
 31  Remote_Work_True                  37452 non-null  int64
 32  Health_Issues_Both                37452 non-null  int64
 33  Health_Issues_Mental              37452 non-null  int64
 34  Health_Issues_Physical            37452 non-null  int64
 35  Company_Size_Large                37452 non-null  int64
 36  Company_Size_Medium               37452 non-null  int64
 37  Company_Size_Small                37452 non-null  int64
 38  Department_Admin                  37452 non-null  int64
 39  Department_Finance                37452 non-null  int64
 40  Department_HR                     37452 non-null  int64
 41  Department_IT                     37452 non-null  int64
 42  Department_Marketing              37452 non-null  int64
 43  Department_Sales                  37452 non-null  int64
 44  Mental_Health_Leave_Taken_False   37452 non-null  int64
 45  Mental_Health_Leave_Taken_True    37452 non-null  int64
 46  Mental_Health_Leave_Taken_1       37452 non-null  int64
 47  Mental_Health_Leave_Taken_FALSE   37452 non-null  int64
 48  Mental_Health_Leave_Taken_TRUE    37452 non-null  int64
 49  Training_Opportunities_False      37452 non-null  int64
 50  Training_Opportunities_True       37452 non-null  int64
 51  Gender_Bias_Experienced_False     37452 non-null  int64
 52  Gender_Bias_Experienced_True      37452 non-null  int64
 53  Discrimination_Experienced_False  37452 non-null  int64
 54  Discrimination_Experienced_True   37452 non-null  int64
 55  Burnout_Symptoms_3                37452 non-null  int64
 56  Burnout_Symptoms_No               37452 non-null  int64
 57  Burnout_Symptoms_Occasional       37452 non-null  int64
 58  Burnout_Symptoms_Yes              37452 non-null  int64
 59  Location_Metro                    37452 non-null  int64
 60  Location_Tier-1                   37452 non-null  int64
 61  Location_Tier-2                   37452 non-null  int64
 62  Location_Tier-3                   37452 non-null  int64
dtypes: float64(9), int64(54)
memory usage: 18.3 MB

LABEL ENCODING

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
encoder=LabelEncoder()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  object
 12  Department                        50000 non-null  object
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  object
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  bool
 25  Gender_Bias_Experienced           50000 non-null  bool
 26  Discrimination_Experienced        50000 non-null  bool
 27  Burnout_Symptoms                  50000 non-null  object
 28  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(8)
memory usage: 9.7+ MB

In [12]:
df[categorical_col] = df[categorical_col].astype(str)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  object
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  object
 12  Department                        50000 non-null  object
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  object
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  object
 25  Gender_Bias_Experienced           50000 non-null  object
 26  Discrimination_Experienced        50000 non-null  object
 27  Burnout_Symptoms                  50000 non-null  object
 28  Location                          50000 non-null  object
dtypes: float64(9), int64(8), object(12)
memory usage: 11.1+ MB

In [ ]:
for col in categorical_col:
    df[col]=encoder.fit_transform(df[col])

#Chunki Label_Encoder bir martada faqat bitta ustun bilan ishlaydi

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  int64
 3   Marital_Status                    50000 non-null  int64
 4   Job_Role                          50000 non-null  int64
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  int64
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  int64
 12  Department                        50000 non-null  int64
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  int64
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  int64
 25  Gender_Bias_Experienced           50000 non-null  int64
 26  Discrimination_Experienced        50000 non-null  int64
 27  Burnout_Symptoms                  50000 non-null  int64
 28  Location                          50000 non-null  int64
dtypes: float64(9), int64(20)
memory usage: 11.1 MB

TARGET ENCODING

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37452 entries, 2 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                37452 non-null  int64
 1   Age                               37452 non-null  int64
 2   Gender                            37452 non-null  object
 3   Marital_Status                    37452 non-null  object
 4   Job_Role                          37452 non-null  object
 5   Experience_Years                  37452 non-null  int64
 6   Monthly_Salary_INR                37452 non-null  float64
 7   Working_Hours_per_Week            37452 non-null  int64
 8   Commute_Time_Hours                37452 non-null  float64
 9   Remote_Work                       37452 non-null  bool
 10  Stress_Level                      37452 non-null  float64
 11  Health_Issues                     37452 non-null  object
 12  Company_Size                      37452 non-null  object
 13  Department                        37452 non-null  object
 14  Sleep_Hours                       37452 non-null  float64
 15  Physical_Activity_Hours_per_Week  37452 non-null  float64
 16  Mental_Health_Leave_Taken         37452 non-null  object
 17  Manager_Support_Level             37452 non-null  int64
 18  Work_Pressure_Level               37452 non-null  float64
 19  Annual_Leaves_Taken               37452 non-null  float64
 20  Work_Life_Balance                 37452 non-null  float64
 21  Family_Support_Level              37452 non-null  int64
 22  Job_Satisfaction                  37452 non-null  int64
 23  Performance_Rating                37452 non-null  float64
 24  Team_Size                         37452 non-null  int64
 25  Training_Opportunities            37452 non-null  bool
 26  Gender_Bias_Experienced           37452 non-null  bool
 27  Discrimination_Experienced        37452 non-null  bool
 28  Burnout_Symptoms                  37452 non-null  object
 29  Location                          37452 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 7.9+ MB

In [ ]:
for col in categorical_col:
    df[col] = df.groupby(col)['Stress_Level'].transform('mean')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37452 entries, 2 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                37452 non-null  int64
 1   Age                               37452 non-null  int64
 2   Gender                            37452 non-null  float64
 3   Marital_Status                    37452 non-null  float64
 4   Job_Role                          37452 non-null  float64
 5   Experience_Years                  37452 non-null  int64
 6   Monthly_Salary_INR                37452 non-null  float64
 7   Working_Hours_per_Week            37452 non-null  int64
 8   Commute_Time_Hours                37452 non-null  float64
 9   Remote_Work                       37452 non-null  float64
 10  Stress_Level                      37452 non-null  float64
 11  Health_Issues                     37452 non-null  float64
 12  Company_Size                      37452 non-null  float64
 13  Department                        37452 non-null  float64
 14  Sleep_Hours                       37452 non-null  float64
 15  Physical_Activity_Hours_per_Week  37452 non-null  float64
 16  Mental_Health_Leave_Taken         37452 non-null  float64
 17  Manager_Support_Level             37452 non-null  int64
 18  Work_Pressure_Level               37452 non-null  float64
 19  Annual_Leaves_Taken               37452 non-null  float64
 20  Work_Life_Balance                 37452 non-null  float64
 21  Family_Support_Level              37452 non-null  int64
 22  Job_Satisfaction                  37452 non-null  int64
 23  Performance_Rating                37452 non-null  float64
 24  Team_Size                         37452 non-null  int64
 25  Training_Opportunities            37452 non-null  float64
 26  Gender_Bias_Experienced           37452 non-null  float64
 27  Discrimination_Experienced        37452 non-null  float64
 28  Burnout_Symptoms                  37452 non-null  float64
 29  Location                          37452 non-null  float64
dtypes: float64(22), int64(8)
memory usage: 8.9 MB