In [2]:
#Kutubxonalarni import qilamiz

import pandas as pd
import numpy as np

In [3]:
#Datani yuklab olamiz

df=pd.read_csv('Corporate Stress.csv')

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_22313/1792476056.py:3: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Corporate Stress.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          49999 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                49999 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      49999 non-null  float64
 11  Health_Issues                     37459 non-null  object
 12  Company_Size                      50000 non-null  object
 13  Department                        50000 non-null  object
 14  Sleep_Hours                       50000 non-null  float64
 15  Physical_Activity_Hours_per_Week  50000 non-null  float64
 16  Mental_Health_Leave_Taken         49999 non-null  object
 17  Manager_Support_Level             50000 non-null  int64
 18  Work_Pressure_Level               49999 non-null  float64
 19  Annual_Leaves_Taken               49999 non-null  float64
 20  Work_Life_Balance                 49998 non-null  float64
 21  Family_Support_Level              50000 non-null  int64
 22  Job_Satisfaction                  50000 non-null  int64
 23  Performance_Rating                49999 non-null  float64
 24  Team_Size                         50000 non-null  int64
 25  Training_Opportunities            50000 non-null  bool
 26  Gender_Bias_Experienced           50000 non-null  bool
 27  Discrimination_Experienced        50000 non-null  bool
 28  Burnout_Symptoms                  50000 non-null  object
 29  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(9)
memory usage: 10.1+ MB

In [5]:
#Tushib qolgan qiymatlarni ko'rish

df.isnull().sum()

ID                                      0
Age                                     0
Gender                                  0
Marital_Status                          0
Job_Role                                1
Experience_Years                        0
Monthly_Salary_INR                      0
Working_Hours_per_Week                  0
Commute_Time_Hours                      1
Remote_Work                             0
Stress_Level                            1
Health_Issues                       12541
Company_Size                            0
Department                              0
Sleep_Hours                             0
Physical_Activity_Hours_per_Week        0
Mental_Health_Leave_Taken               1
Manager_Support_Level                   0
Work_Pressure_Level                     1
Annual_Leaves_Taken                     1
Work_Life_Balance                       2
Family_Support_Level                    0
Job_Satisfaction                        0
Performance_Rating                      1
Team_Size                               0
Training_Opportunities                  0
Gender_Bias_Experienced                 0
Discrimination_Experienced              0
Burnout_Symptoms                        0
Location                                0
dtype: int64

In [6]:
#'Health_Issues' ustunni o'chiramiz

df=df.drop(columns=['Health_Issues'])

In [7]:
df.isnull().sum()

ID                                  0
Age                                 0
Gender                              0
Marital_Status                      0
Job_Role                            1
Experience_Years                    0
Monthly_Salary_INR                  0
Working_Hours_per_Week              0
Commute_Time_Hours                  1
Remote_Work                         0
Stress_Level                        1
Company_Size                        0
Department                          0
Sleep_Hours                         0
Physical_Activity_Hours_per_Week    0
Mental_Health_Leave_Taken           1
Manager_Support_Level               0
Work_Pressure_Level                 1
Annual_Leaves_Taken                 1
Work_Life_Balance                   2
Family_Support_Level                0
Job_Satisfaction                    0
Performance_Rating                  1
Team_Size                           0
Training_Opportunities              0
Gender_Bias_Experienced             0
Discrimination_Experienced          0
Burnout_Symptoms                    0
Location                            0
dtype: int64

In [8]:
#Tushib qolgan qiymatlarni to'ldiramiz

for col in df.columns:
    if df[col].dtype=='object':
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)

/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_22313/776943518.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
/var/folders/2n/8mc_gc0j7_b8xfff_rzhf5740000gn/T/ipykernel_22313/776943518.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [9]:
df.isnull().sum()

ID                                  0
Age                                 0
Gender                              0
Marital_Status                      0
Job_Role                            0
Experience_Years                    0
Monthly_Salary_INR                  0
Working_Hours_per_Week              0
Commute_Time_Hours                  0
Remote_Work                         0
Stress_Level                        0
Company_Size                        0
Department                          0
Sleep_Hours                         0
Physical_Activity_Hours_per_Week    0
Mental_Health_Leave_Taken           0
Manager_Support_Level               0
Work_Pressure_Level                 0
Annual_Leaves_Taken                 0
Work_Life_Balance                   0
Family_Support_Level                0
Job_Satisfaction                    0
Performance_Rating                  0
Team_Size                           0
Training_Opportunities              0
Gender_Bias_Experienced             0
Discrimination_Experienced          0
Burnout_Symptoms                    0
Location                            0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  object
 3   Marital_Status                    50000 non-null  object
 4   Job_Role                          50000 non-null  object
 5   Experience_Years                  50000 non-null  int64
 6   Monthly_Salary_INR                50000 non-null  float64
 7   Working_Hours_per_Week            50000 non-null  int64
 8   Commute_Time_Hours                50000 non-null  float64
 9   Remote_Work                       50000 non-null  bool
 10  Stress_Level                      50000 non-null  float64
 11  Company_Size                      50000 non-null  object
 12  Department                        50000 non-null  object
 13  Sleep_Hours                       50000 non-null  float64
 14  Physical_Activity_Hours_per_Week  50000 non-null  float64
 15  Mental_Health_Leave_Taken         50000 non-null  object
 16  Manager_Support_Level             50000 non-null  int64
 17  Work_Pressure_Level               50000 non-null  float64
 18  Annual_Leaves_Taken               50000 non-null  float64
 19  Work_Life_Balance                 50000 non-null  float64
 20  Family_Support_Level              50000 non-null  int64
 21  Job_Satisfaction                  50000 non-null  int64
 22  Performance_Rating                50000 non-null  float64
 23  Team_Size                         50000 non-null  int64
 24  Training_Opportunities            50000 non-null  bool
 25  Gender_Bias_Experienced           50000 non-null  bool
 26  Discrimination_Experienced        50000 non-null  bool
 27  Burnout_Symptoms                  50000 non-null  object
 28  Location                          50000 non-null  object
dtypes: bool(4), float64(9), int64(8), object(8)
memory usage: 9.7+ MB

In [11]:
df_encoded=df.copy()

In [12]:
#Label Encoderni import qilamiz

from sklearn.preprocessing import LabelEncoder

In [13]:
#Object tipidagi ustunlarni label encoding qilamiz. Qolgan ustunlarni one-hot encoding qilamiz

for col in df_encoded.select_dtypes(include=['object']).columns:
    cardinality=df_encoded[col].nunique()
    if cardinality<=5:
        le=LabelEncoder()
        df_encoded[col]=le.fit_transform(df_encoded[col])
    else:
        df_encoded=pd.get_dummies(df_encoded, columns=[col], dtype=int, drop_first=True)

In [14]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 41 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  int64
 3   Marital_Status                    50000 non-null  int64
 4   Experience_Years                  50000 non-null  int64
 5   Monthly_Salary_INR                50000 non-null  float64
 6   Working_Hours_per_Week            50000 non-null  int64
 7   Commute_Time_Hours                50000 non-null  float64
 8   Remote_Work                       50000 non-null  bool
 9   Stress_Level                      50000 non-null  float64
 10  Company_Size                      50000 non-null  int64
 11  Sleep_Hours                       50000 non-null  float64
 12  Physical_Activity_Hours_per_Week  50000 non-null  float64
 13  Manager_Support_Level             50000 non-null  int64
 14  Work_Pressure_Level               50000 non-null  float64
 15  Annual_Leaves_Taken               50000 non-null  float64
 16  Work_Life_Balance                 50000 non-null  float64
 17  Family_Support_Level              50000 non-null  int64
 18  Job_Satisfaction                  50000 non-null  int64
 19  Performance_Rating                50000 non-null  float64
 20  Team_Size                         50000 non-null  int64
 21  Training_Opportunities            50000 non-null  bool
 22  Gender_Bias_Experienced           50000 non-null  bool
 23  Discrimination_Experienced        50000 non-null  bool
 24  Burnout_Symptoms                  50000 non-null  int64
 25  Location                          50000 non-null  int64
 26  Job_Role_Developer                50000 non-null  int64
 27  Job_Role_HR                       50000 non-null  int64
 28  Job_Role_Manager                  50000 non-null  int64
 29  Job_Role_Sales                    50000 non-null  int64
 30  Job_Role_Support                  50000 non-null  int64
 31  Department_Finance                50000 non-null  int64
 32  Department_HR                     50000 non-null  int64
 33  Department_IT                     50000 non-null  int64
 34  Department_Marketing              50000 non-null  int64
 35  Department_Sales                  50000 non-null  int64
 36  Mental_Health_Leave_Taken_True    50000 non-null  int64
 37  Mental_Health_Leave_Taken_0       50000 non-null  int64
 38  Mental_Health_Leave_Taken_1       50000 non-null  int64
 39  Mental_Health_Leave_Taken_FALSE   50000 non-null  int64
 40  Mental_Health_Leave_Taken_TRUE    50000 non-null  int64
dtypes: bool(4), float64(9), int64(28)
memory usage: 14.3 MB

In [15]:
#Encoding qilingan ustunlardan tashqari bo'lgan 'bool' tipidagi ustunlarni 'int' ga o'tkazamiz

df_encoded = df_encoded.astype({col: 'int' for col in df_encoded.select_dtypes(include=['bool']).columns})

In [18]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 41 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                50000 non-null  int64
 1   Age                               50000 non-null  int64
 2   Gender                            50000 non-null  int64
 3   Marital_Status                    50000 non-null  int64
 4   Experience_Years                  50000 non-null  int64
 5   Monthly_Salary_INR                50000 non-null  float64
 6   Working_Hours_per_Week            50000 non-null  int64
 7   Commute_Time_Hours                50000 non-null  float64
 8   Remote_Work                       50000 non-null  int64
 9   Stress_Level                      50000 non-null  float64
 10  Company_Size                      50000 non-null  int64
 11  Sleep_Hours                       50000 non-null  float64
 12  Physical_Activity_Hours_per_Week  50000 non-null  float64
 13  Manager_Support_Level             50000 non-null  int64
 14  Work_Pressure_Level               50000 non-null  float64
 15  Annual_Leaves_Taken               50000 non-null  float64
 16  Work_Life_Balance                 50000 non-null  float64
 17  Family_Support_Level              50000 non-null  int64
 18  Job_Satisfaction                  50000 non-null  int64
 19  Performance_Rating                50000 non-null  float64
 20  Team_Size                         50000 non-null  int64
 21  Training_Opportunities            50000 non-null  int64
 22  Gender_Bias_Experienced           50000 non-null  int64
 23  Discrimination_Experienced        50000 non-null  int64
 24  Burnout_Symptoms                  50000 non-null  int64
 25  Location                          50000 non-null  int64
 26  Job_Role_Developer                50000 non-null  int64
 27  Job_Role_HR                       50000 non-null  int64
 28  Job_Role_Manager                  50000 non-null  int64
 29  Job_Role_Sales                    50000 non-null  int64
 30  Job_Role_Support                  50000 non-null  int64
 31  Department_Finance                50000 non-null  int64
 32  Department_HR                     50000 non-null  int64
 33  Department_IT                     50000 non-null  int64
 34  Department_Marketing              50000 non-null  int64
 35  Department_Sales                  50000 non-null  int64
 36  Mental_Health_Leave_Taken_True    50000 non-null  int64
 37  Mental_Health_Leave_Taken_0       50000 non-null  int64
 38  Mental_Health_Leave_Taken_1       50000 non-null  int64
 39  Mental_Health_Leave_Taken_FALSE   50000 non-null  int64
 40  Mental_Health_Leave_Taken_TRUE    50000 non-null  int64
dtypes: float64(9), int64(32)
memory usage: 15.6 MB